.custom-modal {
    .modal-dialog {
        max-width: 570px;
    }

    .modal-content {
        background-color: #e7f4f2;
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.3);
    }

    &__body {
        padding: 0 100px;
        margin-bottom: 35px;
        .btn {
            max-width: 100%;
            width: 100%;
            margin-bottom: 15px;

            font-family: "Exo2-Bold";
        }
    }

    &__title {
        line-height: 36px;
        color: #3a3a3a;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 30px;
    }
    .modal-header {
        border: none;
        justify-content: flex-end;
        .close {
            float: right;
        }
    }
}
