.category-products {
    &__header {
        padding: 10px 0 15px;
    }
    &__sale {
        background: url('../images/sale.png') no-repeat;
        height: 80px;
        position: absolute;
        top: 5px;
        left: 5px;
        width: 79px;
    }
    &__item {
        background-color: $white;
        border: 1px solid #dbece9;
        border-radius: 3px;
        padding: 0 15px 15px 15px;
        margin-bottom: 38px;
        position: relative;
        z-index: 3;

        &:hover {
            &:before {
                display: block;
                top: -5px;
                left: -5px;
                right: -5px;
                bottom: -5px;
                background-color: #fff;
                border: 5px solid #4ecff8;
            }
        }

        &:before {
            display: none;
            position: absolute;
            content: " ";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 10px;
            z-index: -1;
        }
    }

	&__image {
  		img {
  			width: 100%;
  		}
	}

	&__link {
  		font-family: 'Exo2-Medium';
  		text-decoration: underline;
  		font-size: 17px;
      line-height: 20px;
      color: #3a3a3a;

  		&:hover {
    			text-decoration: none;
    			color: $blue;
  		}
	}

    &__info {
        font-family: 'Roboto-Light';
    		color: #909aa3;
    		font-size: 14px;
        margin: 7px 0;
    }

    &__price {
        font-family: 'Exo2-Bold';

        .price {
            color: #222222;
            font-size: 36px;
            margin-bottom: 40px;
        }

        .old-price {
            font-size: 24px;
        }

        .price,
        .old-price {
            display: block;
            line-height: 1.2;
        }

        &.sale {
            .price {
                color: #e40205;
                margin-bottom: 0;
            }

            .old-price {
                color: #616060;
                text-decoration: line-through;
            }
        }

        &.discount {
            .price {
                margin-bottom: 0;
            }

            .old-price {
                color: #e40205;
                text-decoration: line-through;
            }
        }
    }

    &__footer {
        margin-top: 12px;

        .btn {
            font-family: 'Exo2-Bold';
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            width: 100%;

            &:focus {
                outline: none;
                box-shadow: none;
                color: $white;
            }
            i {
            	font-size: 25px;
            	margin-right: 15px;
            }
        }
    }
}

.products-list {
    > div {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .category-products {

        &__item {
            @extend .row;
            margin: 0;
            padding: 0;
        }

        &__header {
            @extend .col-lg-3;
        }

        &__section {
            padding-top: 10px;
            padding-bottom: 10px;
            @extend .col-lg-6;
            //border-right: 1px dashed #c4e6ee;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-direction: column;
        }

        &__link {
            order: 1;
        }
        &__info {
            order: 2;
        }

        &__price {
            order: 4;
        }
        &__footer {
            margin-top: 10px;
            align-self: center;
            @extend .col-lg-3;
        }
    }
    .review-block {
        order: 3;
    }
}
