.qty {
    input {
        border: 1px solid #d9dbdd;
        border-width: 1px 0;
        color: #222222;
        display: inline-block;
        font-size: 18px;
        margin: 0 -4px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        width: 50px;
    }
    button {
        border-width: 0;
        background-color: #1ca5d0;
        display: inline-block;
        cursor: pointer;
        transition: all .3s linear;
        height: 36px;
        vertical-align: middle;
        width: 36px;

        &:hover {
            background-color: #c0e4ed;

        }

        &:before {
            content: '';
            display: block;
            margin: auto;
            width: 19px;
        }

        &.button-down {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;

            &:before {
                background: url('../images/button-minus.png') no-repeat;
                height: 1px;
            }
        }

        &.button-up {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;

            &:before {
                background: url('../images/button-plus.png') no-repeat;
                height: 19px;
            }
        }
    }
}
