/*_____ Colors  _____*/
$backgroundColor: #e7f4f2;
$baseColor: #444444;
$textColor: #555555;
$hColor: #3a3a3a;
$lightBlue: #e9f6f4;
$labelColor: #909aa3;
$white: #fff;

/*_____ Fonts  _____*/
$font-name__roboto-light-italic: 'Roboto-LightItalic';
$font-name__roboto-light: 'Roboto-Light';
$font-name__roboto-regular: 'Roboto-Regular';
$font-name__icon: 'iconmoon';

/*_____ Icons  _____*/
.icon-cart:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e904";
}
.icon-star:before {
  content: "\e905";
}
.icon-youtube:before {
  content: "\e906";
}
.icon-down:before {
  content: "\e907";
}
.icon-cart2:before {
  content: "\e908";
}
.icon-arrow-left2:before {
  content: "\e909";
}
.icon-arrow-right2:before {
  content: "\e90a";
}
.icon-check2:before {
  content: "\e90b";
}
.icon-clock2:before {
  content: "\e90c";
}
.icon-star2:before {
  content: "\e90d";
}
.icon-in:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-twitter:before {
  content: "\e910";
}
.icon-facebook:before {
  content: "\e911";
}
.icon-vk:before {
  content: "\e913";
}
