footer.footer

	.container
		
		.row
			.col-sm-6.col-md-4.col-lg-4
				h5.footer-title Контакты
				ul.footer-contacts
					li
						i.icon.icon-map 
						span 
							| г. Москва, ул. Владимирская, д. 35
					li
						i.icon.icon-phone 
						span
							| 8 (495) 222-33-00
					li
						a(href="mailto:India-pills@mail.ru" title="")
							i.icon.icon-mail 
							span
								| India-pills@mail.ru
						
			.col-sm-6.col-md-4.col-lg-4

				h5.footer-title Полезная информация

				ul.footer-menu
					
					li
						a(href='#') О нас 
					li
						a(href='#') Доставка и оплата
					li
						a.active(href='#') Схемы лечения 
					li
						a(href='#') Отзывы 
					li
						a(href='#') Гарантии
					li
						a(href='#') Вопрос-ответ
					li
						a(href='#')  Сертификаты  
					li
						a(href='#') Контакты
			// 
			.col-md-4.col-lg-4

				h5.footer-title Препараты

				ul.footer-menu
					li
						a(href='#') Софосбувир
					li
						a(href='#') Даклатасвир
					li
						a(href='#') Ледипасвир
					li
						a(href='#') Тенофовир 
					li
						a(href='#') Велпатасвир
.footer-bottom

	.container
		.row
		
			.col-md-6
			
				.copyright
					span
						| © 2017 India-pills.com. Все права защищены.
						
				//.copyright
				
			.col-md-6
			
				.social
					strong
						| Мы в соцсетях:
					ul
						li
							a(href="#" title="Vkontakte")
								i.icon.icon-vk
						li
							a(href="#" title="Twitter")
								i.icon.icon-twitter
						li
							a(href="#" title="Facebook")
								i.icon.icon-facebook
								
				//.social
	
	//.container
	
//.footer-bottom
