#login-modal.custom-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')

	.modal-dialog(role='document')
	
		.modal-content
		
			.modal-header
			
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					img(src="assets/images/close.png")
				
			.custom-modal__body
			
				h4.custom-modal__title Авторизация
				
				form(method="" action="#" id="" name="")
				
					.form-group
						
						input.form-control(type="email"  placeholder="E-mail"  name="")
						
					.form-group
						
						input.form-control(type="password"  placeholder="Пароль"  name="")
					
					
						
					button.btn.btn-lg.btn-primary(type="submit") Войти
					
					.registration-group
					
						a.registration-link(href="") Регистрация
						
					.item-forgout
					
						label.custom-control.custom-checkbox
							input.custom-control-input(type='checkbox')
							span.custom-control-indicator
							span.custom-control-description Запомнить
							
						a.forgout(href="#") 
							span Напомнить пароль 
					
			
			
			.social-modal
				
				.block-share
				
					p Войти через социальные сети:
					
					ul 
					
						li
						
							a(href="#")
							
								i.vk
								
						li
						
							a(href="#")
							
								i.fb
								
						li
						
							a(href="#")
							
								i.tw
								
						li
						
							a(href="#")
							
								i.ok
									
							
			
#phone.custom-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')

	.modal-dialog(role='document')
	
		.modal-content
		
			.modal-header
				
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					img(src="assets/images/close.png")
					
			.custom-modal__body
			
				h4.custom-modal__titleЗаказать звонок
				
				form(method="" action="#" id="" name="")
				
					.form-group
						
						input.form-control(type="text"  placeholder="Ваше имя" id="title-review" name="title-review")
						
					.form-group
						
						
						input.form-control(type="text"  placeholder="Телефон" id="title-review" name="title-review")
					
					button.btn.btn-lg.btn-primary(type="submit") Отправить

#click.custom-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')

	.modal-dialog(role='document')
	
		.modal-content
		
			.modal-header
				
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					img(src="assets/images/close.png")
					
			.custom-modal__body
			
				h4.custom-modal__title Купить в 1 клик
				
				p.custom-modal__desc-blue Hepcinat LP Соф+ледипасвир , 90 табл.
				
				p.custom-modal__desc. 
					Оставьте Ваш телефон и в течении 10 минут наш менеджер перезвонит Вам
					
				form(method="" action="#" id="" name="")
				
					.form-group
						
						input.form-control(type="text"  placeholder="Ваше имя" id="title-review" name="title-review")
						
					.form-group
						
						
						input.form-control(type="text"  placeholder="Телефон" id="title-review" name="title-review")
						
					.qty-wrap 
					
						span Количество:
						
						span.qty
						
							button.button-down(type='button', onclick='changeQty(12, this);')
							
							input#cart-qty-12.qty-input(type="text" value='1', size='4', title='Qty', name='')
							
							button.button-up(type='button', onclick='changeQty(12, this);')
							
					button.btn.btn-lg.btn-primary(type="submit") Заказать товар

#modal-check.custom-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')

	.modal-dialog(role='document')
	
		.modal-content
		
			.modal-header
				
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					img(src="assets/images/close.png")
					
			.custom-modal__box
			
				.custom-modal__row
				
					.custom-modal__header
					
						img(src="assets/images/modal/icon-check.png")
					
					.custom-modal__section
					
						h4.custom-modal__title Спасибо!
						
						strong Ваш заказ отправлен
						
						p.
							Наш менеджер свяжется с вами  в ближайшее время
							
#modal-cart.custom-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')

	.modal-dialog(role='document')
	
		.modal-content
		
			.modal-header
				
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					img(src="assets/images/close.png")
					
			.custom-modal__cart
			
				h4.custom-modal__title Вы добавили в корзину
				
				p.custom-modal__desc-blue Hepcinat LP Соф+ледипасвир , 90 табл.
					
				.item-modal-cart
				
					.item-modal-cart__header
					
						img(src="media/home-products/product1.jpg",alt="")
					
					.item-modal-cart__section
					
						button.btn.btn-lg.btn-primary(type='button') Оформить заказ
						button.btn.btn-lg.btn-secondary(type='button', data-dismiss='modal') Продолжить покупки
				
#modal-email.custom-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')

	.modal-dialog(role='document')
	
		.modal-content
		
			.modal-header
				
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					img(src="assets/images/close.png")
					
			.custom-modal__box
			
				.custom-modal__row
				
					.custom-modal__header
					
						img(src="assets/images/modal/icon-email.png")
					
					.custom-modal__section
					
						h4.custom-modal__title Ваше сообщение Отправлено! 
						
						p.
							Наш менеджер свяжется с вами  в ближайшее время 
					
#modal-mess.custom-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')

	.modal-dialog(role='document')
	
		.modal-content
		
			.modal-header
				
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					img(src="assets/images/close.png")
					
			.custom-modal__box.custom-modal__box--full
			
				.custom-modal__row
				
					.custom-modal__header
					
						img(src="assets/images/modal/icon-mes.png")
					
					.custom-modal__section
					
						h4.custom-modal__title Большое спасибо!
						
						p.
							Ваш отзыв отправлен на модерацию
					
header.header

	.container

		.header-block

			.row

				.col-lg-4.align-self-center
					
					.logo-block
					
						a.logo(href='/')
							img(src='assets/images/logo.png ', alt='')
				
						//.logo 

				.col-lg-5

					.row
						
						.col-xl-6.col-sm-6

							ul.head-links

								li
									i.icon-in

									a(href="#" title="Войти" data-toggle="modal" data-target="#login-modal") Войти

									span.separator /

									a(href="#" title="Регистрация") Регистрация  
								li
									i.icon-clock

									span Ежедневно: с  9:00 до 20:00	

							//.head-links 

						.col-xl-6.col-sm-6

							.head-info

								h5
									span (343) 
									| 200-75-77

								a(href="#" title="Заказать звонок" data-toggle="modal" data-target="#modal-cart") Заказать звонок

							//.head-info

					.form-search

						form(action='', method='post')

							.input-group.md-search

								input.form-control(type='text', name='search', placeholder='Что ищите?', required='')

								button.btn.btn-primary(type='submit') 

									i.icon-search

					//.form-search
				// .col-lg-5

				.col-lg-3

					.header-cart

						a#cart(href='#')
							
							.cart-box

								i.icon-cart

								span.cart-qty 1
							
							.cart-box

								strong Корзина

								span.cart-price 26 082
								
										span.cart-price__symbol руб.
				// .col-lg-3
		
		nav.navbar.navbar-toggleable-md.md-nav

			.navbar-header
				button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false')
					span
					span
					span

			#navbar.collapse.navbar-collapse

				ul.nav.navbar-nav

					li
						a(href='#') О нас

					li
						a(href='#') Гарантии

					li
						a.active(href='#') Схемы лечения

					li
						a(href='#') Сертификаты

					li
						a(href='#') Доставка и оплата

					li
						a(href='#') Отзывы

					li
						a(href='#') Вопрос-ответ

					li
						a(href='#') Контакты
			

//.header
