
a:focus,
button:focus,
input:focus,
select:focus {
    outline: none;
}

input,
select {
    background-color: #fff;
    border-width: 0;
    border-radius: 2px;
    height: 34px;
}

select {
    color: #909aa3;
    font-family: 'Roboto-Light';
    padding: 0 15px;
}
