
@import "bootstrap/bootstrap";
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";

@import "variables/variables";
@import "mixins/mixins";
@import "conf";
@import "reset";
@import "components/slick";
@import "components/header";
@import "components/breadcrumbs";
@import "components/toolbar";
@import "components/title";
@import "components/nav";
@import "components/products";
@import "components/footer";
@import "components/sidebar";
@import "components/modal";
@import "components/blog";
@import "components/cart";
@import "components/related";
@import "pages/index";
@import "pages/detail";
@import "responsive";

body {
    background: $backgroundColor url("../images/top-background.png") top center no-repeat;
    background-size: 100%;
}

main {
    background: url("../images/bottom-background.png") bottom center no-repeat;
    background-size: 100%;
    padding-bottom: 60px;
}

h1 {
    font-family: "Roboto-Bold";
}

a {
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;

    &:hover {
        text-decoration: none;
    }
}

a,
button {
    &:focus {
        box-shadow: none!important;
        outline: none!important;
    }
}

.product-click {
    text-align: center;
    a {
        position: relative;
        font-family: 'Exo2-Medium';
        color: #444444;

        &:before {
            position: relative;
            top: 3px;
            content: " ";
            display: inline-block;
            background: url('../images/cursor-icon.png') no-repeat;
            margin-right: 10px;
            height: 17px;
            vertical-align: -2px;
            width: 15px;
       }

        &:hover {
            span {
                color: $green;
                border-color: $green;
            }
        }

        span {
            border-bottom: 1px dashed #444444;
        }
    }
}

.review-block {
    position: relative;
    overflow: hidden;
    width: 78px;

    .icon-star {
      margin-right: 3px;
      font-size: 14px;
    }

    .review-result {
        color: #fcd036;
        overflow: hidden;
        position: absolute;
        top: 0;
    }
}

.title-primary {
    color: #444444;
    margin-bottom: 15px;
    text-align: center;
}

.section-features {
    margin-top: 15px;

    .title-primary {
        text-transform: uppercase;
        padding-bottom: 13px;
        border-bottom: 1px dashed $blue;
        margin-bottom: 12px;
    }
}

.features {

    &__info {
        color: $blue;
        font-family: "Roboto-Bold";
        margin-bottom: 25px;
        line-height: 24px;
    }

    &__desc {
        color: #444444;
        font-family: "Roboto-Light";
        line-height: 24px;
        margin-bottom: 18px;
    }
}

.section-faq {
    .title-primary {
        text-transform: uppercase;
        margin-bottom: 30px;
    }
}

.ih-list-faq {
    list-style: none;
    padding: 0;

    &__pane {
      	background-color: $white;
      	border: 2px solid $green;
      	border-radius: 2px;
      	padding: 20px 35px;
      	position: relative;
      	margin-bottom: 30px;

      	&:before {
        		position: absolute;
        		content: " ";
        		bottom: -24px;
        		left: 39px;
        		width: 0;
        		height: 0;
        		border-style: solid;
        		border-width: 24px 35px 0 35px;
        		border-color: $white transparent transparent transparent;
        		z-index: 2;
      	}

      	&:after {
        		position: absolute;
        		content: " ";
        		bottom: -26px;
        		left: 35px;
        		width: 0;
        		height: 0;
        		border-style: solid;
        		border-width: 26px 39px 0 39px;
        		border-color: $green transparent transparent transparent;
        		z-index: 0;
  	   }

      	h6 {
        		color: $blue;
        		font-family: "Exo2-Medium";
        		margin-bottom: 0;
      	}
    }

    &__item {
      	margin-left: 85px;
      	font-family: "Roboto-MediumItalic";
      	color: #444444;
      	line-height: 24px;
      	position: relative;

      	&:before {
        		position: absolute;
        		content: " ";
        		background: url("../images/app.png") top center no-repeat;
        		left:-50px;
        		width: 40px;
        		height: 30px;
      	}
    }
    @media screen and (max-width: 575px) {
        &__item {
            margin-left: 45px;
        }
        &__pane {
            padding: 15px 20px;
        }
    }
}

.banner-primary {
    margin-top: 44px;
  	background-color: $white;
  	border-top: 2px solid $green;
  	position: relative;
  	text-align: center;
  	padding-bottom: 20px;
  	margin-bottom: 44px;

  	&__title {
    		background-color: $green;
    		display: inline-block;
    		color: $white;
    		padding: 18px 30px;
    		position: relative;
    		text-transform: uppercase;
    		margin-bottom: 40px;

    		&:before {
      			position: absolute;
      			left: -35px;
      			top: 0;
      			content: " ";
      			width: 0;
      			height: 0;
      			border-style: solid;
      			border-width: 0 35px 69px 0;
      			border-color: transparent $green transparent transparent;
    		}

    		&:after {
      			position: absolute;
      			right: -35px;
      			top: 0;
      			content: " ";
      			width: 0;
      			height: 0;
      			border-style: solid;
      			border-width: 69px 35px 0 0;
      			border-color: $green transparent transparent transparent;
    		}

        @media screen and (max-width: 767px) {
            font-size: 18px;
            width: 100%;

            &:after,
            &:before {
                display: none;
            }
        }
     }

    	&__item {
      		display: flex;
      		align-items: center;
      		padding: 0 20px 0 40px;
      		margin-bottom: 30px;
    	}
    	&__info {
      		margin-left: 20px;
      		text-align: left;
      		font-family: "Exo2-SemiBold";
      		color: #222222;
      		font-size: 17px;
      		line-height: 24px;
    	}

      @media screen and (max-width: 767px) {
          &__item {
              padding: 0 20px 0 16px;
          }
          &__info {
              margin-left: 8px;
          }
      }
}

.section-check-list {
    margin-bottom: 25px;

    .separator {
        margin-top: 18px;
    }

    .title-primary {
        margin-bottom: 25px;
    }
}

.separator {
    width: 100%;
    border-bottom: 1px dashed $blue;
}

.ih-list-check {
  	list-style: none;
  	padding: 0;

  	li {
		font-size: 15px;
		line-height: 24px;
		font-family: "Roboto-Light";
		color: #444444;
		position: relative;
		padding-left: 50px;
		margin-bottom: 22px;

        &:before {
        		position: absolute;
        		@extend .icon-check;
        		font-family: $font-name__icon;
        		color: $green;
        		left: 10px;
    		}
  	}
    @media screen and (max-width: 575px) {
        li {
            padding-left: 40px;
        }
    }
}

.slider-carousel {
    margin-bottom: 40px;

    .slick-arrow {
        background-color: rgba(255, 255, 255, 0.5);
        height: 115px;
        width: 60px;
        font-size: 20px;
        text-align: center;
        z-index: 2;
        @include transition(all .3s linear);

        &:hover {
            background-color: rgba(167, 197, 41, 0.5);

            &:before {
                color: #d9e89c;
            }
        }

        &:before {
            color: $white;
            display: inline-block;
            font-size: 70px;
            opacity: 1;
            @include transition(all .3s linear);
        }
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
    }

    .slick-dots {
        li {
            margin-right: 7px;

            button {
                border: 2px solid transparent;
                background-color: transparent;
                position: relative;
                height: 13px;
                width: 13px;
                @include transition(all .3s linear);

                &:before {
                    background-color: $white;
                    content: '';
                    display: block;
                    height: 9px;
                    border-radius: 50%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 9px;
                    @include transition(all .3s linear);
                }
            }

            &.slick-active,
            &:hover {
                button {
                    border-color: #ffef4a;

                    &:before {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

.section-testimonial {


    margin-bottom: 29px;

    .separator {
        width: 100%;
        padding-top: 37px;
        border-bottom: 1px dashed $blue;
    }
    .title-primary {
        text-transform: uppercase;
    }
}

.slider-testimonial {
    border-radius: 2px;
    &__item {
        display: flex !important;
    }

    &__box-left {
        background-color: $green;
        width: 28.2%;
        padding: 0 40px 0 63px;
        display: flex;
        align-items: center
    }

    &__box-right {
        padding: 35px 70px 15px 70px;
        position: relative;
        position: relative;
        background-color: $blue;
        width: 71.8%;

        &:before {
            position: absolute;
            content: " ";
            left: -24px;
            top: calc(50% - 35px;);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 35px 25px 35px 0;
            border-color: transparent $blue transparent transparent;
        }
        @media screen and (max-width: 767px) {
            padding-left: 55px;
            padding-right: 15px;
        }
    }

    &__info {
        position: relative;
        font-family: "Roboto-MediumItalic";
        color: $white;
        line-height: 24px;

        &:before {
            position: absolute;
            content: " ";
            top: 0;
            left: -45px;
            width: 32px;
            height: 23px;
            background:  url("../images/slider-before.png") top center no-repeat;
            background-size: 100%;
        }
    }

    .slick-arrow {
        background-color: rgba(255, 255, 255, 0.5);
        height: 115px;
        width: 60px;
        font-size: 20px;
        z-index: 2;
        @include transition(all .3s linear);

        &:hover {
            background-color: rgba(167, 197, 41, 0.5);

            &:before {
                color: #d9e89c;
            }
        }

        &:before {
            color: $white;
            display: inline-block;
            font-size: 70px;
            opacity: 1;
            display: inline-block;
            @include transition(all .3s linear);
        }
    }

    .slick-next {
        right: 0;
    }

    .slick-prev {
        left: 0;
    }

    .btn-outline-info {
        border-color: $white;
        color: $white;
        font-size: 12px;
        line-height: 18px;
        font-family: "Exo2-SemiBold";
        padding: 0.534rem 1.86rem;
    }
}

.avatar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__image {
        display: flex;
        width: 115px;
        height: 115px;
        border-radius: 50%;
        background-color: $blue;
        background-size: cover;
        border: 2px solid #c4e7e2;
    }

    &__name {
        color: $white;
        font-size: 18px;
        margin-bottom: 18px;
    }

    &__city {
        font-family: "Roboto-Regular";
        color: $white;

    }

    &__group {
        flex: 1;
        margin-left: 15px;
    }

}
.section-blog-post {
    margin-top: 10px;
}

.pagination-blog {
    text-align: center;

    .pagination {
        justify-content: center;
    }

    .page-item {

        &:first-child {

            .page-link {
                padding: 0;
                padding-top: 3px;
                font-size: 40px;
                color : #bbbbbb;
                margin-right: 15px;

                &:hover  {
                    color: $blue;
                }
            }
        }

        &:last-child {

            .page-link {
                padding: 0;
                padding-top: 3px;
                font-size: 40px;
                color : #bbbbbb;
                margin-left: 15px;
                &:hover  {
                    color: $blue;
                }
            }
        }
    }
}

@media (max-width: 1200px) {

    .head-info {
        h5 {
            font-size: 22px;
        }
    }
}

@media (max-width: 767px) {
    h4 {
        font-size: 22px;
    }

    .sidebar-news {
        margin-bottom: 15px;
    }
    .slider-testimonial {
        border-radius: 2px;
        &__item {
            flex-direction: column;
        }

        &__box-left {
            width: 100%;
            padding-top: 25px;
            padding-bottom: 25px;
        }
        &__box-right {
            width: 100%;

            &:before {
                top: -25px;
                left: calc(50% - 35px);
                border:none;
                border-style: solid;
                border-width: 0 35px 25px 35px;
                border-color: transparent transparent $blue transparent;
            }
        }
        .slick-dots {
            bottom: -25px;
        }
    }

    .ih-list-faq {
        &__pane {
            h6 {
                font-size: 18px;
            }
        }

    }
    .footer-bottom {
        .copyright {
            text-align: center;
        }

        .social {
            text-align: center;
        }
    }

}

@media (max-width: 420px) {
    .footer-bottom {
        .social strong,
        .social {
            display: block;
            margin: 0 0 10px 0;
        }
    }
}

.navbar-header {
    button {
        cursor: pointer;
        padding: 10px 0;
        right: 0;
    }
}

.navbar-toggler {
    width: 60px;
    height: 45px;
    float: right;
    position: relative;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    @media screen and (max-width: 991px) {
        margin-top: -75px;
    }
}

.navbar-toggler span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #1ca5d0;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.navbar-toggler.open span,
.navbar-toggler:hover span {
  background-color: #a7c529;
}

.navbar-toggler span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navbar-toggler span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navbar-toggler span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.navbar-toggler.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

.navbar-toggler.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.navbar-toggler.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}
