extends ./layout.jade

  
block content

    main
    
        .container
    
            .row
      
                .col-lg-12
        
                    .breadcrumbs
          
                        ul
                          
                            li 
                            
                                a(href="#" title="") Главная 
                            
                                    span.separator
                              
                            li
                          
                                strong Новости

            .row
      
                .col-lg-12
        
                    .page-title
          
                        h1 Новости
                        
        section.section-blog-post
        
            .container
            
                article.blog-post
                
                    .row
                        
                        .col-xl-4.col-lg-5.col-md-12
                        
                            header.blog-post__header
                            
                                a(href="#")
                                
                                    img(src="media/post/post.png", alt="", width="369", height="166")
                            
                            //.blog-post__header
                            
                        .col-xl-8.col-lg-7.col-md-12
                        
                            section.blog-post__section
                                
                                .blog-post__date 24.06.2017
                                
                                h6.blog-post__title ЛЕЧЕНИЕ ХРОНИЧЕСКОГО ГЕПАТИТА С С ПОМОЩЬЮ ГОМЕОПАТИИ
                                
                                p.blog-post__info.
                                
                                    Отечественная медицина очень двояко относится к гомеопатии – среди врачей есть как сторонники, так и ярые противники такого метода лечения. На просторах российского интернета нет материалов или научных публикаций касающихся лечения гепатита С гомеопатией. Поэтому, специально для читателей...
                                    
                                a.btn.btn-outline-info(href="#") Подробнее
                                
                            //.blog-post__section
                                
                //.blog-post
                
                article.blog-post
                
                    .row
                        
                        .col-xl-4.col-lg-5.col-md-12
                        
                            header.blog-post__header
                            
                                a(href="#")
                                
                                    img(src="media/post/post-2.png", alt="", width="369", height="166")
                            
                            //.blog-post__header
                            
                        .col-xl-8.col-lg-7.col-md-12
                        
                            section.blog-post__section
                                
                                .blog-post__date 24.06.2017
                                
                                h6.blog-post__title Рекомендации пациентам во время противовирусной терапии
                                
                                p.blog-post__info.
                                
                                    Современные противовирусные препараты способны творить чудеса. Если еще несколько лет назад процент положительного ответа на терапию составлял около 50%, то сегодня этот показатель стремительно приближается к 100% - противовирусные препараты нового поколения эффективны в 90-93% случаев...
                                    
                                a.btn.btn-outline-info(href="#") Подробнее
                                
                            //.blog-post__section
                                
                //.blog-post
                
                article.blog-post
                
                    .row
                        
                        .col-xl-4.col-lg-5.col-md-12
                        
                            header.blog-post__header
                            
                                a(href="#")
                                
                                    img(src="media/post/post-3.png", alt="", width="369", height="166")
                            
                            //.blog-post__header
                            
                        .col-xl-8.col-lg-7.col-md-12
                        
                            section.blog-post__section
                                
                                .blog-post__date 24.06.2017
                                
                                h6.blog-post__title ЛЕЧЕНИЕ ХРОНИЧЕСКОГО ГЕПАТИТА С С ПОМОЩЬЮ ГОМЕОПАТИИ
                                
                                p.blog-post__info.
                                
                                    Отечественная медицина очень двояко относится к гомеопатии – среди врачей есть как сторонники, так и ярые противники такого метода лечения. На просторах российского интернета нет материалов или научных публикаций касающихся лечения гепатита С гомеопатией. Поэтому, специально для читателей...
                                    
                                a.btn.btn-outline-info(href="#") Подробнее
                                
                            //.blog-post__section
                                
                //.blog-post
                
                article.blog-post
                
                    .row
                        
                        .col-xl-4.col-lg-5.col-md-12
                        
                            header.blog-post__header
                            
                                a(href="#")
                                
                                    img(src="media/post/post.png", alt="", width="369", height="166")
                            
                            //.blog-post__header
                            
                        .col-xl-8.col-lg-7.col-md-12
                        
                            section.blog-post__section
                                
                                .blog-post__date 24.06.2017
                                
                                h6.blog-post__title ЛЕЧЕНИЕ ХРОНИЧЕСКОГО ГЕПАТИТА С С ПОМОЩЬЮ ГОМЕОПАТИИ
                                
                                p.blog-post__info.
                                
                                    Отечественная медицина очень двояко относится к гомеопатии – среди врачей есть как сторонники, так и ярые противники такого метода лечения. На просторах российского интернета нет материалов или научных публикаций касающихся лечения гепатита С гомеопатией. Поэтому, специально для читателей...
                                    
                                a.btn.btn-outline-info(href="#") Подробнее
                                
                            //.blog-post__section
                                
                //.blog-post
                
                article.blog-post
                
                    .row
                        
                        .col-xl-4.col-lg-5.col-md-12
                        
                            header.blog-post__header
                            
                                a(href="#")
                                
                                    img(src="media/post/post.png", alt="", width="369", height="166")
                            
                            //.blog-post__header
                            
                        .col-xl-8.col-lg-7.col-md-12
                        
                            section.blog-post__section
                                
                                .blog-post__date 24.06.2017
                                
                                h6.blog-post__title ЛЕЧЕНИЕ ХРОНИЧЕСКОГО ГЕПАТИТА С С ПОМОЩЬЮ ГОМЕОПАТИИ
                                
                                p.blog-post__info.
                                
                                    Отечественная медицина очень двояко относится к гомеопатии – среди врачей есть как сторонники, так и ярые противники такого метода лечения. На просторах российского интернета нет материалов или научных публикаций касающихся лечения гепатита С гомеопатией. Поэтому, специально для читателей...
                                    
                                a.btn.btn-outline-info(href="#") Подробнее
                                
                            //.blog-post__section
                                
                //.blog-post
                
                article.blog-post
                
                    .row
                        
                        .col-xl-4.col-lg-5.col-md-12
                        
                            header.blog-post__header
                            
                                a(href="#")
                                
                                    img(src="media/post/post.png", alt="", width="369", height="166")
                            
                            //.blog-post__header
                            
                        .col-xl-8.col-lg-7.col-md-12
                        
                            section.blog-post__section
                                
                                .blog-post__date 24.06.2017
                                
                                h6.blog-post__title ЛЕЧЕНИЕ ХРОНИЧЕСКОГО ГЕПАТИТА С С ПОМОЩЬЮ ГОМЕОПАТИИ
                                
                                p.blog-post__info.
                                
                                    Отечественная медицина очень двояко относится к гомеопатии – среди врачей есть как сторонники, так и ярые противники такого метода лечения. На просторах российского интернета нет материалов или научных публикаций касающихся лечения гепатита С гомеопатией. Поэтому, специально для читателей...
                                    
                                a.btn.btn-outline-info(href="#") Подробнее
                                
                            //.blog-post__section
                                
                //.blog-post
                
                article.blog-post
                
                    .row
                        
                        .col-xl-4.col-lg-5.col-md-12
                        
                            header.blog-post__header
                            
                                a(href="#")
                                
                                    img(src="media/post/post.png", alt="", width="369", height="166")
                            
                            //.blog-post__header
                            
                        .col-xl-8.col-lg-7.col-md-12
                        
                            section.blog-post__section
                                
                                .blog-post__date 24.06.2017`
                                
                                h6.blog-post__title ЛЕЧЕНИЕ ХРОНИЧЕСКОГО ГЕПАТИТА С С ПОМОЩЬЮ ГОМЕОПАТИИ
                                
                                p.blog-post__info.
                                
                                    Отечественная медицина очень двояко относится к гомеопатии – среди врачей есть как сторонники, так и ярые противники такого метода лечения. На просторах российского интернета нет материалов или научных публикаций касающихся лечения гепатита С гомеопатией. Поэтому, специально для читателей...
                                    
                                a.btn.btn-outline-info(href="#") Подробнее
                                
                            //.blog-post__section
                                
                //.blog-post
                
                nav.pagination-blog(aria-label='Page navigation')
                
                    ul.pagination
                    
                        li.page-item
                            a.page-link(href='#')
                                
                                i.icon-arrow-left
                            
                        li.page-item
                            a.page-link(href='#') 1
                            
                        li.page-item.active
                            a.page-link(href='#') 2
                            
                        li.page-item
                            a.page-link(href='#') 3
                            
                        li.page-item
                            a.page-link(href='#') 4
                            
                        li.page-item
                            a.page-link(href='#') 5
                        li.page-item
                            a.page-link(href='#') 
                            
                                i.icon-arrow-right
                    
                    //.paginatio
                    
                //.pagination-blog
                
        //.section-blog-post
