extends ./layout.jade

	
block content

	main.cart-page
		
		.container
		
			.row
			
				.col-lg-12
				
					.breadcrumbs
					
						ul
							
							li 
								
								a(href="#" title="") Главная 
								
									span.separator
									
							li
							
								strong Корзина

			.row
			
				.col-lg-12
				
					.page-title
					
						h1 Корзина
			
			.row 
			
				.col-lg-12 
				
					table#shopping-cart-table.cart-table 
						
						thead 
								
							tr
									
								th Название
								
								th Цена
								
								th Количество, шт.
								
								th Стоимость 
						
						tbody 
						
							tr
							
								td 
								
									a(href="#" title="Даклатасвир — Daklatasvir Natdac Natco 60 mg 28 tab" class="product-image") 
									
										img(src="media/cart-products/product-1.jpg" alt="Даклатасвир — Daklatasvir Natdac Natco 60 mg 28 tab" width="61" height="53")
									
									h5.product-title 
										a(href="#" title="Даклатасвир — Daklatasvir Natdac Natco 60 mg 28 tab") Даклатасвир — Daklatasvir Natdac Natco 60 mg 28 tab 
									
									a.remove(href="#" title="Удалить") x 
								
								td 
								
									span.cart-price 8 350 руб. 
								
								td 
								
									span.qty
										// (Notice for backend dev) Add product id at parameter to changeQty function
										button(type="button" class="button-down" onclick="changeQty(13, this);")  
										// (Notice for backend dev) Add product id to qty id
										input(value="1" size="4" title="Qty" class="qty-input" name="" id="cart-qty-13") 
										
										button(type="button" class="button-up" onclick="changeQty(13, this);") 
								
								td
								
									span.cart-price.total-price 16 700 руб.
									
							tr
							
								td 
								
									a(href="#" title="Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab" class="product-image") 
									
										img(src="media/cart-products/product-1.jpg" alt="Даклатасвир — Daklatasvir Natdac Natco 60 mg 28 tab" width="61" height="53")
									
									h5.product-title 
										a(href="#" title="Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab") Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab 
									
									a.remove(href="#" title="Удалить") x 
								
								td 
								
									span.cart-price 7 600 руб.
								
								td 
									
									span.qty
										// (Notice for backend dev) Add product id at parameter to changeQty function
										button(type="button" class="button-down" onclick="changeQty(12, this);")  
										// (Notice for backend dev) Add product id to qty id
										input(value="1" size="4" title="Qty" class="qty-input" name="" id="cart-qty-12") 
										
										button(type="button" class="button-up" onclick="changeQty(12, this);") 
								
								td
								
									span.cart-price.total-price 7 600 руб.     
									
						tfoot 
						
							tr 
							
								td(colspan="3") 
									
									strong Итоговая сумма:
								
								td 
								
									strong.total-price 24 300 руб. 
									
			.row 
			
				.col-lg-12 
				
					.buttons-wrapper
						
						a.btn.btn-lg.btn-primary(href="#" title="Оформить заказ" ) Оформить заказ
						
			.row 
			
				.col-lg-12 
				
					.related-products
						
						h1 Вас может заинтересовать
					
						.row.category-products

							.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6

								.category-products__item

									.category-products__header

										a(href="#")

											.category-products__image

												img(src="media/home-products/product1.jpg",alt="")
										
										span.category-products__sale

									//.category-products__header

									.category-products__section
									
										.review-block
										
											.review-result-wrapper
											
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												.review-result(style='width: 80%')
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													
											// .review-block
											
										// .category-products__section

										a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
										
										p.category-products__info Производитель: Natco Pharma 
										
										.category-products__price.discount
											
											span.price 10 550 
												
												span.symbol руб. 
													
											span.old-price 11 800
												
												span.symbol руб. 

									//.category-products__section

									.category-products__footer

										a.btn.btn-lg.btn-primary(href="#") 

											i.icon-cart

											|    В корзину

										.product-click
										
											a(href="#" title="Купить в 1 клик")
											
												span Купить в 1 клик

									//.category-products__footer

								//.category-products__item
								
							.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6

								.category-products__item

									.category-products__header

										a(href="#")

											.category-products__image

												img(src="media/home-products/product2.jpg",alt="")
										
										span.category-products__sale

									//.category-products__header

									.category-products__section
									
										.review-block
										
											.review-result-wrapper
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												.review-result(style='width: 80%')
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
											// .review-block
										// .category-products__section

										a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
										
										p.category-products__info Производитель: Natco Pharma 

									//.category-products__section
									
									.category-products__price.sale
										
										span.price 6 970 
											
											span.symbol руб. 
												
										span.old-price 8 350 
											
											span.symbol руб. 
											
									//.category-products__price

									.category-products__footer

										a.btn.btn-lg.btn-primary(href="#") 

											i.icon-cart

											|    В корзину

										.product-click

											a(href="#" title="Купить в 1 клик")
											
												span Купить в 1 клик

									//.category-products__footer

								//.category-products__item
								
							.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6

								.category-products__item

									.category-products__header

										a(href="#")

											.category-products__image

												img(src="media/home-products/product1.jpg",alt="")
										
									//.category-products__header

									.category-products__section
									
										.review-block
											.review-result-wrapper
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												.review-result(style='width: 100%')
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
											// .review-block
										// .category-products__section

										a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
										
										p.category-products__info Производитель: Natco Pharma 

									//.category-products__section
									
									.category-products__price 
										
										span.price
										
											| 10 550 
											
											span.symbol 
											
												| руб.
												
									//.category-products__price
									
									.category-products__footer

										a.btn.btn-lg.btn-primary(href="#") 

											i.icon-cart

											|    В корзину

										.product-click

											a(href="#" title="Купить в 1 клик")
											
												span Купить в 1 клик

									//.category-products__footer

								//.category-products__item
								
							.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6

								.category-products__item

									.category-products__header

										a(href="#")

											.category-products__image

												img(src="media/home-products/product1.jpg",alt="")
										
									//.category-products__header

									.category-products__section
									
										.review-block
										
											.review-result-wrapper
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												.review-result(style='width: 100%')
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
											// .review-block
										// .category-products__section

										a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
										
										p.category-products__info Производитель: Natco Pharma 

									//.category-products__section
									
									.category-products__price 
										
										span.price
										
											| 10 550 
											
											span.symbol 
											
												| руб.
												
									//.category-products__price
									
									.category-products__footer

										a.btn.btn-lg.btn-primary(href="#") 

											i.icon-cart

											|    В корзину

										.product-click

											a(href="#" title="Купить в 1 клик")
											
												span Купить в 1 клик

									//.category-products__footer

								//.category-products__item

								
	script(type="text/javascript").
		function changeQty(productId, button) {
				var input = $(button).closest('.qty').find('.qty-input');
						inputVal = parseInt(input.val());
				
				if($(button).hasClass('button-up')) {
						input.val(inputVal + 1);
				} else if($(button).hasClass('button-down') && inputVal > 1) {
						input.val(inputVal - 1);
				}
		}
//.conatiner
	
