extends ./layout.jade

  
block content

    main
    
        .container
    
            .row
      
                .col-lg-12
        
                    .breadcrumbs
          
                        ul

                            li 

                                a(href="#" title="") Главная 

                                    span.separator

                            li

                                strong Каталог

            .row

                .col-lg-12

                    .page-title

                        h1 Каталог
      
            .row

                .col-lg-12
              
                    .toolbar.clearfix

                        .sorter

                            label(for="sorter") Сортировать по:

                                select#sorter

                                    option(value="popularity") популярности

                                    option(value="price") цена

                                    option(value="name") имя
                        
                        .view-mode

                            label Вид:

                            strong(class="grid")

                            a(href="#" title="Список" class="list")
                        
                        .limiter

                            label(for="limiter") Показывать:

                            select#limiter

                                option(value="16") 16

                                option(value="24") 24

                                option(value="32") 32

            .row.category-products.products-grid

                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6

                    .category-products__item

                        .category-products__header

                            a(href="#")

                                .category-products__image

                                    img(src="media/home-products/product1.jpg",alt="")
                            
                            span.category-products__sale

                        //.category-products__header

                        .category-products__section
                        
                            .review-block
                            
                                .review-result-wrapper
                                
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    .review-result(style='width: 80%')
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        
                                // .review-block
                                
                            // .category-products__section

                            a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                            
                            p.category-products__info Производитель: Natco Pharma 
                            
                            .category-products__price.discount
                                
                                span.price 10 550 
                                    
                                    span.symbol руб. 
                                        
                                span.old-price 11 800
                                    
                                    span.symbol руб. 

                        //.category-products__section

                        .category-products__footer

                            a.btn.btn-lg.btn-primary(href="#") 

                                i.icon-cart

                                |    В корзину

                            .product-click
                            
                                a(href="#" title="Купить в 1 клик")
                                
                                    span Купить в 1 клик

                        //.category-products__footer

                    //.category-products__item
                    
                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6

                    .category-products__item

                        .category-products__header

                            a(href="#")

                                .category-products__image

                                    img(src="media/home-products/product2.jpg",alt="")
                            
                            span.category-products__sale

                        //.category-products__header

                        .category-products__section
                        
                            .review-block
                            
                                .review-result-wrapper
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    .review-result(style='width: 80%')
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                // .review-block
                            // .category-products__section

                            a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                            
                            p.category-products__info Производитель: Natco Pharma 

                        //.category-products__section
                        
                        .category-products__price.sale
                            
                            span.price 6 970 
                                
                                span.symbol руб. 
                                    
                            span.old-price 8 350 
                                
                                span.symbol руб. 
                                
                        //.category-products__price

                        .category-products__footer

                            a.btn.btn-lg.btn-primary(href="#") 

                                i.icon-cart

                                |    В корзину

                            .product-click

                                a(href="#" title="Купить в 1 клик")
                                
                                    span Купить в 1 клик

                        //.category-products__footer

                    //.category-products__item
                    
                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6

                    .category-products__item

                        .category-products__header

                            a(href="#")

                                .category-products__image

                                    img(src="media/home-products/product1.jpg",alt="")
                            
                        //.category-products__header

                        .category-products__section
                        
                            .review-block
                                .review-result-wrapper
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    .review-result(style='width: 100%')
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                // .review-block
                            // .category-products__section

                            a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                            
                            p.category-products__info Производитель: Natco Pharma 

                        //.category-products__section
                        
                        .category-products__price 
                            
                            span.price
                            
                                | 10 550 
                                
                                span.symbol 
                                
                                    | руб.
                                    
                        //.category-products__price
                        
                        .category-products__footer

                            a.btn.btn-lg.btn-primary(href="#") 

                                i.icon-cart

                                |    В корзину

                            .product-click

                                a(href="#" title="Купить в 1 клик")
                                
                                    span Купить в 1 клик

                        //.category-products__footer

                    //.category-products__item
                    
                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6

                    .category-products__item

                        .category-products__header

                            a(href="#")

                                .category-products__image

                                    img(src="media/home-products/product1.jpg",alt="")
                            
                        //.category-products__header

                        .category-products__section
                        
                            .review-block
                            
                                .review-result-wrapper
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    .review-result(style='width: 100%')
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                // .review-block
                            // .category-products__section

                            a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                            
                            p.category-products__info Производитель: Natco Pharma 

                        //.category-products__section
                        
                        .category-products__price 
                            
                            span.price
                            
                                | 10 550 
                                
                                span.symbol 
                                
                                    | руб.
                                    
                        //.category-products__price
                        
                        .category-products__footer

                            a.btn.btn-lg.btn-primary(href="#") 

                                i.icon-cart

                                |    В корзину

                            .product-click

                                a(href="#" title="Купить в 1 клик")
                                
                                    span Купить в 1 клик

                        //.category-products__footer

                    //.category-products__item
            .row.category-products.products-grid.products-list

                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6 

                    .category-products__item

                        .category-products__header

                            a(href="#")

                                .category-products__image

                                    img(src="media/home-products/product1.jpg",alt="")
                            
                            span.category-products__sale

                        //.category-products__header

                        .category-products__section
                        
                            .review-block
                            
                                .review-result-wrapper
                                
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    .review-result(style='width: 80%')
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        
                                // .review-block
                                
                            // .category-products__section

                            a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                            
                            p.category-products__info Производитель: Natco Pharma 
                            
                            .category-products__price.discount
                                
                                span.price 10 550 
                                    
                                    span.symbol руб. 
                                        
                                span.old-price 11 800
                                    
                                    span.symbol руб. 
                    
                                    //.category-products__section
                                    
                        .category-products__footer

                            a.btn.btn-lg.btn-primary(href="#") 

                                i.icon-cart

                                |    В корзину

                            .product-click
                            
                                a(href="#" title="Купить в 1 клик")
                                
                                    span Купить в 1 клик

                        //.category-products__footer

                    //.category-products__item     
            
            .row.category-products.products-grid.products-list-sm

                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6 

                    .category-products__item

                        .category-products__header

                            a(href="#")

                                .category-products__image

                                    img(src="media/home-products/product1.jpg",alt="")
                            
                            span.category-products__sale

                        //.category-products__header

                        .category-products__section
                        
                            .review-block
                            
                                .review-result-wrapper
                                
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    i.icon-star
                                    .review-result(style='width: 80%')
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        i.icon-star
                                        
                                // .review-block
                                
                            // .category-products__section

                            a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                            
                            p.category-products__info Производитель: Natco Pharma 
                            
                            .category-products__price.discount
                                
                                span.price 10 550 
                                    
                                    span.symbol руб. 
                                        
                                span.old-price 11 800
                                    
                                    span.symbol руб. 
                    
                                    //.category-products__section
                                    
                        .category-products__footer

                            a.btn.btn-lg.btn-primary(href="#") 

                                i.icon-cart

                                |    В корзину

                            .product-click
                            
                                a(href="#" title="Купить в 1 клик")
                                
                                    span Купить в 1 клик

                        //.category-products__footer

                    //.category-products__item
        //.container
        
        section.section-features

            .container

                h4.title-primary Поможем победить гепатит

                .features

                    p.features__info.
                        Наше главное кредо — это быть полезными для своих клиентов. У нас Вы сможете приобрести продукты питания, средства для ухода и биодобавки высочайшего качества лучших брендов с мировым именем. Здесь Вы найдете полезную продукцию для детей и взрослых, которая придает бодрости и энергии, помогает восстановить силы и стать еще привлекательнее.

                    p.features__desc.
                        Eсли вам все же поставили такой диагноз, не отчаивайтесь, ведь наука не стоит на месте, в настоящее время ученые уже создали препараты, способные побороть этот недуг. Наш Интернет – магазин производит продажу медицинских препаратов, таких как Hepcinat, Hepcinat LP, Natdac , Viread, Ledifos, Daclahep, Sofovir и Sovaldi (Софосубвир), которые применяются в терапии ведущих клиник по всему миру. Дженерики разработанные высокотехнологичными фармацевтическими компаниями не чуть не хуже чем оригинальные лекарственные средства, они обладают теми же свойствами, но стоят на порядок дешевле. Мы работаем только с проверенными и надежными фирмами – производителями. Оформив заказ у наших менеджеров, вы сможете уже через несколько рабочих дней получить нужное лекарство, и приступить к лечению гепатита С, не теряя драгоценное время.

                //.features
                
                .banner-primary

                    h4.banner-primary__title Наши преимущества
                
                    .row

                        .col-lg-4

                            .banner-primary__item
                                
                                .banner-primary__image

                                    img(src="assets/images/pr.png",alt="")

                                .banner-primary__info.
                                    Работаем напрямую с индийскими поставщиками
                                    
                        .col-lg-4

                            .banner-primary__item
                                
                                .banner-primary__image

                                    img(src="assets/images/pr-2.png",alt="")

                                .banner-primary__info.
                                    Выгодная стоимость препаратов
                                    
                        .col-lg-4

                            .banner-primary__item
                                
                                .banner-primary__image

                                    img(src="assets/images/pr-3.png",alt="")

                                .banner-primary__info.
                                    Быстрая доставка по России и СНГ

                    //.row

                //.banner-primary
                
            //.container
            
        //.section-features

        section.section-check-list

            .container

                h4.title-primary  У нас Вы найдете только лучшую продукцию высокого качества, действительно полезную для здоровья:

                .row

                    .col-lg-6

                        ul.ih-list-check

                            li.
                                Продукты питания и биодобавки восполнят дефицит витаминов и микроэлементов. Специальные комплексы способствуют укреплению иммунитета, сердечно-сосудистой и эндокринной систем, эффективны в борьбе с процессами старения;
                            li.
                                Детское питание не содержит искусственных добавок. Оно активирует иммунные силы организма и улучшает работу кишечника;

                        //.ih-list-check

                    .col-lg-6

                        ul.ih-list-check

                            li.
                                Действующие вещества косметических средств — растительные экстракты, масла и другие вещества природного происхождения. Использование качественной косметики улучшит состояние кожи и волос и доставит Вам истинное удовольствие.
                            li.
                                Спортивное питание имеет сбалансированный состав для формирования идеального рельефа и быстрого восстановления сил после тренировок;

                        //.ih-list-check
                        
                //.row
                
                .separator

            //.container
            
        //.section-check-list
        
        section.section-expert-advice
        
            .container
                h4.title-primary Пример нумерованного списка:    Н3
                
                ol.ih-list-number
                    li
                        
                        p.
                            Продукты питания и биодобавки восполнят дефицит витаминов и микроэлементов. Специальные комплексы способствуют укреплению иммунитета, сердечно-сосудистой и эндокринной систем, эффективны в борьбе с процессами старения;
                    li
                        p.
                            Детское питание не содержит искусственных добавок. Оно активирует иммунные силы организма и улучшает работу кишечника;
                    li
                        p.
                
                            Продукты питания и биодобавки восполнят дефицит витаминов и микроэлементов. Специальные комплексы способствуют укреплению иммунитета, сердечно-сосудистой и эндокринной систем, эффективны в борьбе с процессами старения;
                    li
                        p.
                            Детское питание не содержит искусственных добавок. Оно активирует иммунные силы организма и улучшает работу кишечника;
                //.ih-list-number
                
                
                .expert-advice

                    h4.expert-advice__title Совет эксперта:
                    p.expert-advice__info.
                        Мы ценим свою репутацию и доверие, оказанное каждым покупателем, именно поэтому все препараты, представленные в аптеке, поставляются напрямую от производителя. Это полностью исключает возможность появления контрафактного лекарства. По собственной инициативе один раз в пол года, мы заказываем химическую экспертизу в московской лаборатории на каждый выставленный у нас препарат.
                
                //.expert-advice
                strong.
                    Наше главное кредо — это быть полезными для своих клиентов. У нас Вы сможете приобрести продукты питания, средства для ухода и биодобавки высочайшего качества лучших брендов с мировым именем. Здесь Вы найдете полезную продукцию для детей и взрослых, которая придает бодрости и энергии, помогает восстановить силы и стать еще привлекательнее.
                br
                br
                p.
                    Если вам все же поставили такой диагноз, не отчаивайтесь, ведь наука не стоит на месте, в настоящее время ученые уже создали препараты, способные побороть этот недуг. Наш Интернет – магазин производит продажу медицинских препаратов, таких как Hepcinat, Hepcinat LP, Natdac , Viread, Ledifos, Daclahep, Sofovir и Sovaldi (Софосубвир), которые применяются в терапии ведущих клиник по всему миру. Дженерики разработанные высокотехнологичными фармацевтическими компаниями не чуть не хуже чем оригинальные лекарственные средства, они обладают теми же свойствами, но стоят на порядок дешевле. Мы работаем только с проверенными и надежными фирмами – производителями. Оформив заказ у наших менеджеров, вы сможете уже через несколько рабочих дней получить нужное лекарство, и приступить к лечению гепатита С, не теряя драгоценное время.
                
            //.container
            
        //.section-number
        
        siderbar.md-sidebar-bottom
        
            .container
            
                .row
                
                    .col-lg-6.col-sm-12
                    
                        .sidebar-news
                        
                            h6.title-news Последние новости
                            
                            ul.sidebar-news-list

                                li
                                    .news-item

                                        .news-item__header

                                            a(href="#")
                                            
                                                img(src="assets/images/blog.png",alt="")

                                        .news-item__section

                                            .news-item__date 24.06.2017
                                            
                                            h4.news-item__title 

                                                a(href="#") ПИТАНИЕ ПРИ ГЕПАТИТЕ С: ОСНОВНЫЕ ПРОДУКТЫ И БЛЮДА

                                            .news-item__info.

                                                Осложнения, которые настигают больного очень опасны и как правило  больного очень опасны...
                                li
                                    .news-item

                                        .news-item__header

                                            a(href="#")
                                            
                                                img(src="assets/images/blog.png",alt="")

                                        .news-item__section

                                            .news-item__date 24.06.2017
                                            
                                            h4.news-item__title 

                                                a(href="#") Комбинированный препарат для лечения гепатита С получил статус ускоренного рассмотрения

                                            .news-item__info.

                                                Американская фармкомпания AbbVie заявила о том, что комбинированный...
                                

                            a.btn.btn-outline-info(
                                href="#"
                            ) Все новости
                            
                        //.siderbar-news
                    .col-lg-3.col-sm-6
                    
                        .sidebar-social
                        
                            h6.sidebar-social__title Мы в контакте
                            
                            .sidebar-social__box
                                
                                img(src="assets/images/india-pills-vk.png")
                            
                        //.sidebar-social
                        
                    .col-lg-3.col-sm-6
                    
                        .sidebar-social
                        
                            h6.sidebar-social__title Мы в фейсбук
                            
                            .sidebar-social__box
                                
                                img(src="assets/images/india-pills-fb.png")
                            
                    //.sidebar-social
                //.row
            //.container
        //.md-sidebar-bottom
