extends ./layout.jade

  
block content

  main
    
    .container
    
      .row
      
        .col-lg-12
        
          .breadcrumbs
          
            ul
              
              li 
                
                a(href="#" title="") Главная 
                
                  span.separator
                  
              li
              
                strong Каталог

      .row
      
        .col-lg-12
        
          .page-title
          
            h1 Каталог
      
      .row
      
        .col-lg-12
      
          .toolbar.clearfix
          
            .sorter
            
              label(for="sorter") Сортировать по:
              
              select#sorter
              
                option(value="popularity") популярности
                
                option(value="price") цена
                
                option(value="name") имя
                
            .view-mode
            
              label Вид:
              
              strong(class="grid")
              
              a(href="#" title="Список" class="list")
                
            .limiter
            
              label(for="limiter") Показывать:
              
              select#limiter
              
                option(value="16") 16
                
                option(value="24") 24
                
                option(value="32") 32
        
      .row

        .col-lg-12
        
          .row
          
            .col-lg-3.col-md-4
            
              .category-products
              
                .category-products__header
                
                  .category-products__image
                  
                    img(src="assets/images/product.png",alt="")
                    
                    .category-products__sale
                    
                //.category-products__header
                
                .category-products__section
                
                  a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                  
                  p.category-products__info Производитель: Natco Pharma
                  
                //.category-products__section
                
                .category-products__footer
                
                  a.btn.btn-lg.btn-primary(hre="#")
                  
                    i.icon-cart
                    
                    |	В корзину
                    
                  .category-products__click
                  
                    img(src="",alt="")
                    
                    span text
                    
                //.category-products__footer
                
              //.category-products
            
            .col-lg-3.col-md-4
            
              .category-products
              
                .category-products__header
                
                  .category-products__image
                  
                    img(src="assets/images/product.png",alt="")
                    
                    .category-products__sale
                    
                //.category-products__header
                
                .category-products__section
                
                  a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                  
                  p.category-products__info Производитель: Natco Pharma
                  
                //.category-products__section
                
                .category-products__footer
                
                  a.btn.btn-lg.btn-primary(hre="#")
                  
                    i.icon-cart
                    
                    |	В корзину
                    
                  .category-products__click
                  
                    img(src="",alt="")
                    
                    span text
                    
                //.category-products__footer
                
              //.category-products
              
            .col-lg-3.col-md-4
            
              .category-products
              
                .category-products__header
                
                  .category-products__image
                  
                    img(src="assets/images/product.png",alt="")
                    
                    .category-products__sale
                    
                //.category-products__header
                
                .category-products__section
                
                  a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                  
                  p.category-products__info Производитель: Natco Pharma
                  
                //.category-products__section
                
                .category-products__footer
                
                  a.btn.btn-lg.btn-primary(hre="#")
                  
                    i.icon-cart
                    
                    |	В корзину
                    
                  .category-products__click
                  
                    img(src="",alt="")
                    
                    span text
                    
                //.category-products__footer
                
              //.category-products
              
            .col-lg-3.col-md-4
            
              .category-products
              
                .category-products__header
                
                  .category-products__image
                  
                    img(src="assets/images/product.png",alt="")
                    
                    .category-products__sale
                    
                //.category-products__header
                
                .category-products__section
                
                  a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                  
                  p.category-products__info Производитель: Natco Pharma
                  
                //.category-products__section
                
                .category-products__footer
                
                  a.btn.btn-lg.btn-primary(hre="#")
                  
                    i.icon-cart
                    
                    |	В корзину
                    
                  .category-products__click
                  
                    img(src="",alt="")
                    
                    span text
                    
                //.category-products__footer
                
              //.category-products
              
            .col-lg-3.col-md-4
            
              .category-products
              
                .category-products__header
                
                  .category-products__image
                  
                    img(src="assets/images/product.png",alt="")
                    
                    .category-products__sale
                    
                //.category-products__header
                
                .category-products__section
                
                  a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                  
                  p.category-products__info Производитель: Natco Pharma
                  
                //.category-products__section
                
                .category-products__footer
                
                  a.btn.btn-lg.btn-primary(hre="#")
                  
                    i.icon-cart
                    
                    |	В корзину
                    
                  .category-products__click
                  
                    img(src="",alt="")
                    
                    span text
                    
                //.category-products__footer
                
              //.category-products
              
            .col-lg-3.col-md-4
            
              .category-products
              
                .category-products__header
                
                  .category-products__image
                  
                    img(src="assets/images/product.png",alt="")
                    
                    .category-products__sale
                    
                //.category-products__header
                
                .category-products__section
                
                  a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                  
                  p.category-products__info Производитель: Natco Pharma
                  
                //.category-products__section
                
                .category-products__footer
                
                  a.btn.btn-lg.btn-primary(hre="#")
                  
                    i.icon-cart
                    
                    |	В корзину
                    
                  .category-products__click
                  
                    img(src="",alt="")
                    
                    span text
                    
                //.category-products__footer
                
              //.category-products
              
            .col-lg-3.col-md-4
            
              .category-products
              
                .category-products__header
                
                  .category-products__image
                  
                    img(src="assets/images/product.png",alt="")
                    
                    .category-products__sale
                    
                //.category-products__header
                
                .category-products__section
                
                  a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                  
                  p.category-products__info Производитель: Natco Pharma
                  
                //.category-products__section
                
                .category-products__footer
                
                  a.btn.btn-lg.btn-primary(hre="#")
                  
                    i.icon-cart
                    
                    |	В корзину
                    
                  .category-products__click
                  
                    img(src="",alt="")
                    
                    span text
                    
                //.category-products__footer
                
              //.category-products
              
            .col-lg-3.col-md-4
            
              .category-products
              
                .category-products__header
                
                  .category-products__image
                  
                    img(src="assets/images/product.png",alt="")
                    
                    .category-products__sale
                    
                //.category-products__header
                
                .category-products__section
                
                  a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
                  
                  p.category-products__info Производитель: Natco Pharma
                  
                //.category-products__section
                
                .category-products__footer
                
                  a.btn.btn-lg.btn-primary(hre="#")
                  
                    i.icon-cart
                    
                    |	В корзину
                    
                  .category-products__click
                  
                    img(src="",alt="")
                    
                    span text
                    
                //.category-products__footer
                
              //.category-products
                
            //.conatiner
