extends ./layout.jade

	
block content

	main.cart-page
		
		.container
		
			.row
			
				.col-lg-12
				
					.breadcrumbs
					
						ul
							
							li 
								
								a(href="#" title="") Главная 
								
									span.separator
									
							li
							
								strong Гарантии

			
		section.section-guarantees
			
			.container
			
				h4.section-guarantees__title Сертификаты
				
				article.banner-guarantees
				
					header.banner-guarantees__header
					
						.banner-guarantees__images
							img(src="media/guarantees/banner.png" alt="" width="218" height="188")
							
					section.banner-guarantees__section
					
						h4.banner-guarantees__title Все прапараты сертифицированы 
						
						p.banner-guarantees__info.
							и отвечают всем требованиям международного и украинского законодательства касательно стандартов качества и безопасности фармацевтической продукции.
							
				//.banner-guarantees
				
				ul.ih-list-certificates
				
					li
						.ih-list-certificates__box
						
							.ih-list-certificates__header
							
								a.fancybox(href="media/certificates/big-certificates.png")
								
									img(src="media/certificates/certificates.png", alt="" width="169" height="238")
									
									i.icon-search
									
								//.fancybox
							
							//.ih-list-certificates__header
							
							.ih-list-certificates__section
							
								h6.ih-list-certificates__title Сертификат качества на Софосбувир
								p.
									Благодаря наличию нескольких схем лечащий врач всегда может подобрать в индивидуальном порядке терапию, оказывающую наиболее оптимальное действие. Если у больного, у которого диагностирован первый генотип гепатита, отсутствуют коинфекции и не поражена
							
							//.ih-list-certificates__section
							
						//.ih-list-certificates__box
					li
						.ih-list-certificates__box
						
							.ih-list-certificates__header
							
								a.fancybox(href="media/certificates/big-certificates.png")
								
									img(src="media/certificates/certificates.png", alt="" width="169" height="238")
									
									i.icon-search
									
								//.fancybox
							
							//.ih-list-certificates__header
							
							.ih-list-certificates__section
							
								h6.ih-list-certificates__title Сертификат качества на Даклатасвир
								p.
									Благодаря наличию нескольких схем лечащий врач всегда может подобрать в индивидуальном порядке терапию, оказывающую наиболее оптимальное действие. Если у больного, у которого диагностирован первый генотип гепатита, отсутствуют коинфекции и не поражена 
							
							//.ih-list-certificates__section
							
						//.ih-list-certificates__box
						
						
					li
						.ih-list-certificates__box
						
							.ih-list-certificates__header
							
								a.fancybox(href="media/certificates/big-certificates.png")
								
									img(src="media/certificates/certificates.png", alt="" width="169" height="238")
									
									i.icon-search
									
								//.fancybox
							
							//.ih-list-certificates__header
							
							.ih-list-certificates__section
							
								h6.ih-list-certificates__title Сертификат качества на Ледипасвир
								
							
							//.ih-list-certificates__section
							
						//.ih-list-certificates__box
						
					li
						.ih-list-certificates__box
						
							.ih-list-certificates__header
							
								a.fancybox(href="media/certificates/big-certificates.png")
								
									img(src="media/certificates/certificates.png", alt="" width="169" height="238")
									
									i.icon-search
									
								//.fancybox
							
							//.ih-list-certificates__header
							
							.ih-list-certificates__section
							
								h6.ih-list-certificates__title Сертификат качества на Софосбувир
								
							//.ih-list-certificates__section
							
						//.ih-list-certificates__box
					
					li
						.ih-list-certificates__box
						
							.ih-list-certificates__header
							
								a.fancybox(href="media/certificates/big-certificates.png")
								
									img(src="media/certificates/certificates.png", alt="" width="169" height="238")
									
									i.icon-search
									
								//.fancybox
							
							//.ih-list-certificates__header
							
							.ih-list-certificates__section
							
								h6.ih-list-certificates__title Сертификат качества на Ледипасвир
								
								p.
									Благодаря наличию нескольких схем лечащий врач всегда может подобрать в индивидуальном атита, отсутствуют коинфекции и не поражена 
							
							//.ih-list-certificates__section
							
						//.ih-list-certificates__box
					
					li
						.ih-list-certificates__box
						
							.ih-list-certificates__header
							
								a.fancybox(href="media/certificates/big-certificates.png")
								
									img(src="media/certificates/certificates.png", alt="" width="169" height="238")
									
									i.icon-search
									
								//.fancybox
							
							//.ih-list-certificates__header
							
							.ih-list-certificates__section
							
								h6.ih-list-certificates__title Сертификат качества на Софосбувир
								p.
									Благодаря наличию нескольких схем лечащий 
							
							//.ih-list-certificates__section
							
						//.ih-list-certificates__box
					
					li
						.ih-list-certificates__box
						
							.ih-list-certificates__header
							
								a.fancybox(href="media/certificates/big-certificates.png")
								
									img(src="media/certificates/certificates.png", alt="" width="169" height="238")
									
									i.icon-search
									
								//.fancybox
							
							//.ih-list-certificates__header
							
							.ih-list-certificates__section
							
								h6.ih-list-certificates__title Сертификат качества на Ледипасвир
								p.
									Благодаря наличию нескольких схем лечащий врач всегда может подобрать в индивидуальном 
							//.ih-list-certificates__section
							
						//.ih-list-certificates__box
						
					li
						.ih-list-certificates__box
						
							.ih-list-certificates__header
							
								a.fancybox(href="media/certificates/big-certificates.png")
								
									img(src="media/certificates/certificates.png", alt="" width="169" height="238")
									
									i.icon-search
									
								//.fancybox
							
							//.ih-list-certificates__header
							
							.ih-list-certificates__section
							
								h6.ih-list-certificates__title Сертификат качества на Софосбувир
								
							
							//.ih-list-certificates__section
							
						//.ih-list-certificates__box
				//.ih-list-certificates
