extends ./layout.jade

	
block content

		main.detail-page
		
				.container
		
						.row
			
								.col-lg-12
				
										.breadcrumbs
					
												ul
													
														li 
														
																a(href="#" title="") Главная 
														
																		span.separator
																		
														li 
														
																a(href="#" title="") Каталог  
														
																		span.separator
																		
														li
													
																strong Hepcinat Софосбувир
												
				section
				
						.container
						
							.row 
							
								.col-xl-5.col-lg-5
								
									.detail-page_image
									
										.detail-page__image-box
										
											span.detail-page__sale
											
											img(src="media/product-detail/product-detail.png" alt="Hepcinat Софосбувир" width="470" height="470")
										
										.detail-page__small-images
										
											ul 
												
												li.current 
													
													img(src="media/product-detail/product-image-small-1.png" alt="Hepcinat Софосбувир" width="100" height="100")

												li 
													
													img(src="media/product-detail/product-image-small-2.png" alt="Hepcinat Софосбувир" width="100" height="100")
													
												li 
													
													img(src="media/product-detail/product-image-small-3.png" alt="Hepcinat Софосбувир" width="100" height="100")
													
								.col-xl-7.col-lg-7
								
									.detail-page__info
									
										h1.detail-page__product-title 
										
											| Hepcinat Софосбувир
										
										.detail-page__review
										
											.review-block
											
												.review-result-wrapper
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													
													.review-result(style='width: 80%')
														i.icon-star
														i.icon-star
														i.icon-star
														i.icon-star
														i.icon-star
														
												// .review-block
										
											span 8 отзывов
										
										.detail-page__availability
										
											p.available
											
												i
												
												span В наличии
										
										.detail-page__add-to-box
											
											ul
											
												li 
												
													.detail-page__price.sale
													
														strong
														
															| Цена:
														
														span.price
														
															| 14 650  
															
															span.symbol руб. 
															
														span.old-price
														
															| 16 800  
															
															span.symbol руб. 
															
												li
												
													a.btn.btn-lg.btn-primary(href='#')
													
														i.icon-cart
														
														|  Купить препарат
													
													.product-click
													
														a(href='#', title='Купить в 1 клик')
														
															span Купить в 1 клик
													
										.detail-page__product-options
										
											dl
											
												dt Название: 
												
												dd 700 
												
												dt Содержание: 
												
												dd Софосбувир 400мг + Ледипасвир 90мг 
												
												dt Производитель:
												
												dd Natco Pharma Ltd. 
												
												dt Страна производитель:
												
												dd Индия
												
												dt Таблеток в упаковке: 
												
												dd 28
												
										.detail-page__support
										
											span 
											
												| По всем вопросам обращайтесь:
												
											strong
											
												span 8 (495) 
												
												| 222-33-00
							.row 
							
								.col-md-12
									
									.detail-page__product-content
										
										h1
										
											| Hepcinat
										
										p
										
											| это одно из прогрессивных и эффективнейших средств, назначаемых для наиболее результативной противовирусной терапии в случае заражения ВГС. Производится одной из крупнейших индийских компаний Natco, которая имеет в штате квалифицированных технологов и высоко технологическое оборудование, дающее возможность выпустить качественные дженерики, с такими же свойствами как у оригинала. Сразу после получения итоговых данных результатов клинических исследований, стало ясно, что | | индийский дженерик hepcinat стал удачной находкой в лечении такого тяжелого и ранее сложно излечимого заболевания. 
										
										p
										
											| По результатам просматривается, что 90% с 1-м генотипом, 96% с 4-м и 100% с 5-м и 6-м генотипами имели устойчивый вирусологический ответ организма после терапии. Если у больного при тщательном обследовании кроме вируса был выявлен цирроз печени, то положительная реакция была отмечена приблизительно у 76%. Правильное лечение в большинстве своем исключает потребность в использовании высокотоксичных медикаментов, таких как рибавирин и интерферон. Наиболее успешной схемой | | лечения является комбинирование двух препаратов прямого действия софосбувир +даклатасвир. Тем более, что купить данные лекарственные средства сейчас можно даже через интернет. Основной проблемой для того, чтобы приступить к лечению остается отсутствие Hepcinat из Индии в свободной продаже.
										
										p 
										
											| Но вы можете купить препарат в России, заказав его в нашей интернет-аптеке. Мы предлагаем недорогие дженерики напрямую от производителей. У нас вы имеете возможность приобрести лекарства по самой низкой цене. Чтобы заказать Hepcinat, нужно правильно заполнить все поля формы, при необходимости уточнив у оператора всю интересующую вас информацию. Актуальная цена на Hepcinat указана в каталоге нашей аптеки. Источник: 
											
											a(href="#" title="") http://gepatit-stop.ru/hepcinat.html
											
										br
										
										h6 
										
											| Торговое наименование 
										
										p 
										
											| Hepcinat + Natdac (Генотип 1,2,3,4 в комбинации с даклатосвиром) (Natko, Индия)
										
										h6 
										
											| Форма выпуска
										
										p
										
											| Hepcinat (софобусвир) выпускается в таблетках коричневого цвета, овоидной формы с отметкой на одной из сторон арабскими цифрами: «400», что соответствует содержанию активного вещества (софобусвира) в количестве 400 мг. Natdac (даклатасвир) выпускается в таблетках круглой форы зелёного цвета по 60 мг.
										
										h6 
										
											| Фармакологическое действие
										
										p 
										
											| Противовирусное средство направленного действия – препарат не взаимодействует со здоровыми клетками печени. Происходит это потому, что действие препаратов распространяется только на «инструменты» (ферменты) вируса гепатита С, при помощи которых каждый генотип строит собственную цепочку нуклеиновых кислот. Вначале идёт процесс разрушения ядра клетки печени за счёт разрезания цепи ДНК на отдельные фрагменты, затем с помощью РНК-полимеразы происходит «сшивание» собственной | нити РНК вируса.
											| Софобусвир блокирует вирусные РНК-полимеразы, тем самым не позволяет вирусу размножаться. Активен в отношении генотипов вирусного гепатита С: 1,2,3 и 4 видов.
											| Даклатисвир блокирует фермент 5В (NS5В), лишая 1,2,3,4,5,6 типы вирусов гепатита С основного оружия, с помощью которого разрушается ядро печёночной клетки (разрезание цепочек нуклеотидов).
										
										h6
										
											| Показания 
											
										p 
										
											| Софобусвир и даклатисвир применяется для лечения острых и хронических гепатитов: 1, 2, 3,4, 5, 6 генотипов вируса гепатита С.
											| Используется при фиброзе и циррозе печени, связанными с поражением органа всеми генотипами вирусного гепатита С.
											| Требуется 84 таблетки софосбувира и даклатисвира на курс лечения при неосложнённой форме заболевания (12 недель). При начавшемся циррозе печени курс лечения увеличивается до 24 недель.
										
										h6 
										
											| Противопоказания
										
										p
										
											| Препарат противопоказан при беременности и в период кормления грудью, а также в детском возрасте до 18 лет. Не используется при индивидуальной непереносимости любого из компонентов: Hepcinat (софобусвир) или Natdac (даклатасвир).
										
										h6 
										
											| Особые указания
											
										p 
										
											| Во время приема препарата не рекомендуется загорать на пляже или в солярии, так как вследствие повышенной светочувствительности кожи могут возникнуть солнечные ожоги.
											| При одновременном применении снижает контрацептивный эффект оральных контрацептивов, в состав которых входят препараты эстрогенов. Во время лечения рекомендуется пользоваться дополнительными, надёжными средствами контрацепции.
											| Усиливает действие амиодарона, нифедипина, лидокаина, варфарина, вследствие чего возрастает риск развития аритмии и появления кровотечения.
											| Аннотация к препаратам на русском языке; диета и список разрешенных продуктов во время прохождения терапии подготовлены для наших пациентов и отправляются на email.
							
							.row.detail-page__row-reviews 
							
								.col-md-6
								
									.box-reviews 
									
										h1 Отзывы
											
											span.reviews-counter (8)
										
										ul
										
											li 
											
												strong.review-user
													
													| Виктория Цыганова 
													
													span.review-date
													
														| / 15 апреля 2017 г.
											
												.review-block
												
													.review-result-wrapper
													
														i.icon-star
														i.icon-star
														i.icon-star
														i.icon-star
														i.icon-star
														.review-result(style='width: 80%')
															i.icon-star
															i.icon-star
															i.icon-star
															i.icon-star
															i.icon-star
															
													// .review-block
												
												p 
												
													| Урааа. Есть эффект. Нагрузка снизилась. Вирус отступает. Очень надеюсь что вскоре увижу что нету вируса.. Не пониманию как и откуда подцерил эту заразу. На форумах начитался о таблетках. Купила, до сих пор не верю. Буду надеется что помогут.
												
											li 
											
												strong.review-user
													
													| Виктория Цыганова 
													
													span.review-date
													
														| / 15 апреля 2017 г.
											
												.review-block
												
													.review-result-wrapper
													
														i.icon-star
														i.icon-star
														i.icon-star
														i.icon-star
														i.icon-star
														.review-result(style='width: 80%')
															i.icon-star
															i.icon-star
															i.icon-star
															i.icon-star
															i.icon-star
															
													// .review-block
												
												p.
													| Урааа. Есть эффект. Нагрузка снизилась. Вирус отступает. Очень надеюсь что вскоре увижу что нету вируса.. Не пониманию как и откуда подцерил эту заразу. На форумах начитался о таблетках. Купила, до сих пор не верю. Буду надеется что помогут.
										
										a.btn.btn-outline-info(href='#' title="Все отзывы") Все отзывы
										
								.col-md-6
								
									.box-form-reviews
																			
										h1 Оставить отзыв
											
										.box-form-reviews__inside

											p
											
												strong 
												
													| Оставить отзыв анонимно 
												
												a(href="#" title="Или войти под своим именем") Или войти под своим именем
												
											form(method="" action="#" id="" name="")
											
												label(for="title-review") 
												
													| Заголовок
												
												input(type="text"  placeholder="Введите заголовок" id="title-review" name="title-review")
												
												label(for="comment-review") 
												
													| Комментарий *
												
												textarea(placeholder="Введите заголовок" id="comment-review" name="comment-review" rows="5")

												.buttons-wrapper.clearfix
												
													.review-block.add-review
													
														label Оценить товар *
														
														.review-star
														
															input#review-rating(type='hidden', name='review-rating')
															
															i.icon-star(data-value='1')
															
															i.icon-star(data-value='2')
															
															i.icon-star(data-value='3')
															
															i.icon-star(data-value='4')
															
															i.icon-star(data-value='5')
															
															//.review-star
															
														//.review-block
														
													button(type="submit").btn.btn-lg.btn-primary Отправить
													
							.row 
							
								.col-lg-12 
								
									.related-products
										
										h1 Другие препараты
									
										.row.category-products
				
											.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6
				
												.category-products__item
				
													.category-products__header
				
														a(href="#")
				
															.category-products__image
				
																img(src="media/home-products/product1.jpg",alt="")
														
														span.category-products__sale
				
													//.category-products__header
				
													.category-products__section
													
														.review-block
														
															.review-result-wrapper
															
																i.icon-star
																i.icon-star
																i.icon-star
																i.icon-star
																i.icon-star
																.review-result(style='width: 80%')
																	i.icon-star
																	i.icon-star
																	i.icon-star
																	i.icon-star
																	i.icon-star
																	
															// .review-block
															
														// .category-products__section
				
														a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
														
														p.category-products__info Производитель: Natco Pharma 
														
														.category-products__price.discount
															
															span.price 10 550 
																
																span.symbol руб. 
																	
															span.old-price 11 800
																
																span.symbol руб. 
				
													//.category-products__section
				
													.category-products__footer
				
														a.btn.btn-lg.btn-primary(href="#") 
				
															i.icon-cart
				
															|    В корзину
				
														.product-click
														
															a(href="#" title="Купить в 1 клик")
															
																span Купить в 1 клик
				
													//.category-products__footer
				
												//.category-products__item
												
											.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6
				
												.category-products__item
				
													.category-products__header
				
														a(href="#")
				
															.category-products__image
				
																img(src="media/home-products/product2.jpg",alt="")
														
														span.category-products__sale
				
													//.category-products__header
				
													.category-products__section
													
														.review-block
														
															.review-result-wrapper
																i.icon-star
																i.icon-star
																i.icon-star
																i.icon-star
																i.icon-star
																.review-result(style='width: 80%')
																	i.icon-star
																	i.icon-star
																	i.icon-star
																	i.icon-star
																	i.icon-star
															// .review-block
														// .category-products__section
				
														a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
														
														p.category-products__info Производитель: Natco Pharma 
				
													//.category-products__section
													
													.category-products__price.sale
														
														span.price 6 970 
															
															span.symbol руб. 
																
														span.old-price 8 350 
															
															span.symbol руб. 
															
													//.category-products__price
				
													.category-products__footer
				
														a.btn.btn-lg.btn-primary(href="#") 
				
															i.icon-cart
				
															|    В корзину
				
														.product-click
				
															a(href="#" title="Купить в 1 клик")
															
																span Купить в 1 клик
				
													//.category-products__footer
				
												//.category-products__item
												
											.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6
				
												.category-products__item
				
													.category-products__header
				
														a(href="#")
				
															.category-products__image
				
																img(src="media/home-products/product1.jpg",alt="")
														
													//.category-products__header
				
													.category-products__section
													
														.review-block
															.review-result-wrapper
																i.icon-star
																i.icon-star
																i.icon-star
																i.icon-star
																i.icon-star
																.review-result(style='width: 100%')
																	i.icon-star
																	i.icon-star
																	i.icon-star
																	i.icon-star
																	i.icon-star
															// .review-block
														// .category-products__section
				
														a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
														
														p.category-products__info Производитель: Natco Pharma 
				
													//.category-products__section
													
													.category-products__price 
														
														span.price
														
															| 10 550 
															
															span.symbol 
															
																| руб.
																
													//.category-products__price
													
													.category-products__footer
				
														a.btn.btn-lg.btn-primary(href="#") 
				
															i.icon-cart
				
															|    В корзину
				
														.product-click
				
															a(href="#" title="Купить в 1 клик")
															
																span Купить в 1 клик
				
													//.category-products__footer
				
												//.category-products__item
												
											.col-xl-3.col-lg-4.col-md-6.col-sm-6.col-xs-6
				
												.category-products__item
				
													.category-products__header
				
														a(href="#")
				
															.category-products__image
				
																img(src="media/home-products/product1.jpg",alt="")
														
													//.category-products__header
				
													.category-products__section
													
														.review-block
														
															.review-result-wrapper
																i.icon-star
																i.icon-star
																i.icon-star
																i.icon-star
																i.icon-star
																.review-result(style='width: 100%')
																	i.icon-star
																	i.icon-star
																	i.icon-star
																	i.icon-star
																	i.icon-star
															// .review-block
														// .category-products__section
				
														a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
														
														p.category-products__info Производитель: Natco Pharma 
				
													//.category-products__section
													
													.category-products__price 
														
														span.price
														
															| 10 550 
															
															span.symbol 
															
																| руб.
																
													//.category-products__price
													
													.category-products__footer
				
														a.btn.btn-lg.btn-primary(href="#") 
				
															i.icon-cart
				
															|    В корзину
				
														.product-click
				
															a(href="#" title="Купить в 1 клик")
															
																span Купить в 1 клик
				
													//.category-products__footer
				
												//.category-products__item
