extends ./layout.jade

  
block content

    main.detail-page
    
        .container
    
            .row
      
                .col-lg-12
        
                    .breadcrumbs
          
                        ul
                          
                            li 
                            
                                a(href="#" title="") Главная 
                            
                                    span.separator
                                    
                            li 
                            
                                a(href="#" title="") Каталог  
                            
                                    span.separator
                                    
                            li
                          
                                strong Hepcinat Софосбувир
                        
        section
        
            .container
            
              .row 
              
                .col-md-5
                
                  .detail-page_image
                  
                    .detail-page__image-box
                    
                      span.detail-page__sale
                      
                      img(src="media/product-detail/product-detail.png" alt="Hepcinat Софосбувир" width="470" height="470")
                    
                    .detail-page__small-images
                    
                      ul 
                        
                        li.current 
                          
                          img(src="media/product-detail/product-image-small-1.png" alt="Hepcinat Софосбувир" width="100" height="100")

                        li 
                          
                          img(src="media/product-detail/product-image-small-2.png" alt="Hepcinat Софосбувир" width="100" height="100")
                          
                        li 
                          
                          img(src="media/product-detail/product-image-small-3.png" alt="Hepcinat Софосбувир" width="100" height="100")
                          
                .col-md-7
                
                  .detail-page__info
                  
                    h1.detail-page__product-title 
                    
                      | Hepcinat Софосбувир
                    
                    .review-block
                    
                      | 8 отзывов
                    
                    .detail-page__availability
                    
                      p.available
                      
                        i
                        
                        span
                        
                          | В наличии
                    
                    .detail-page__add-to-box
                      
                      ul
                      
                        li 
                        
                          .detail-page__price.sale
                          
                            strong
                            
                              | Цена:
                            
                            span.price
                            
                              | 14 650  
                              
                              span.symbol руб. 
                              
                            span.old-price
                            
                              | 16 800  
                              
                              span.symbol руб. 
                              
                        li
                        
                          a.btn.btn-lg.btn-primary(href='#')
                          
                            i.icon-cart
                            
                              |  Купить препарат
                          
                          .category-products__click
                          
                            a(href='#', title='Купить в 1 клик')
                            
                              span Купить в 1 клик
                          
                    .detail-page__product-options
                    
                      dl
                      
                        dt Название: 
                        
                        dd 700 
                        
                        dt Содержание: 
                        
                        dd Софосбувир 400мг + Ледипасвир 90мг 
                        
                        dt Производитель:
                        
                        dd Natco Pharma Ltd. 
                        
                        dt Страна производитель:
                        
                        dd Индия
                        
                        dt Таблеток в упаковке: 
                        
                        dl 28
                        
                    .detail-page__support
                    
                      span 
                      
                        | По всем вопросам обращайтесь:
                        
                      strong
                      
                        span 8 (495) 
                        
                        | 222-33-00
                        
