extends ./layout.jade

  
block content

    main
    
        .container
    
            .row
      
                .col-lg-12
        
                    .breadcrumbs
          
                        ul
                          
                            li 
                            
                                a(href="#" title="") Главная 
                            
                                    span.separator
                              
                            li
                          
                                strong Новости

            .row
      
                .col-lg-12
        
                    .page-title
          
                        h1 Новости
                        
        section.section-blog-post
        
            .container
            
                form
                
                    .form-group
                    
                        label(for='exampleInputEmail1') Email address
                        input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
                        
                    .form-group
                        label(for='exampleInputPassword1') Password
                        input#exampleInputPassword1.form-control(type='password', placeholder='Password')
                        
                        
                        .custom-controls-stacked
                            label.custom-control.custom-radio
                                input#radioStacked1.custom-control-input(name='radio-stacked', type='radio')
                                span.custom-control-indicator
                                span.custom-control-description Boots
                            label.custom-control.custom-radio
                                input#radioStacked2.custom-control-input(name='radio-stacked', type='radio')
                                span.custom-control-indicator
                                span.custom-control-description Shoes
