extends ./layout.jade

	
block content

	main.cart-page
		
		.container
		
			.row
			
				.col-lg-12
				
					.breadcrumbs
					
						ul
							
							li 
								
								a(href="#" title="") Главная 
								
									span.separator
									
							li
							
								strong Гарантии

			
		section.section-guarantees
			
			.container
			
				h4.section-guarantees__title Гарантии
				
				article.banner-guarantees
				
					header.banner-guarantees__header
					
						.banner-guarantees__images
							img(src="media/guarantees/banner.png" alt="" width="218" height="188")
							
					section.banner-guarantees__section
					
						h4.banner-guarantees__title Почему нам деверяют
						
						p.banner-guarantees__info.
							У каждого нормального человека перед тем, как заказать товар через Интеренет – магазин возникают сомнения в честности продавца.  Во избежание подобных сомнений, на нашем сайте создан раздел, который называется "Гарантии" где подробно описано, почему вы можете нам доверять.
							
				//.banner-guarantees
				ul.ih-list-guarantes
				
					li
						h4.ih-list-guarantes__title Гарантия качества
						
						.ih-list-guarantes__box
							
							.row
								
								.col-lg-6
								
									p
										strong.
											Мы ценим свою репутацию и доверие, оказанное каждым покупателем, именно поэтому все препараты, представленные в аптеке, поставляются напрямую от производителя. 
											
										| Это полностью исключает возможность появления контрафактного лекарства. По собственной инициативе один раз в пол года, мы заказываем химическую экспертизу в московской лаборатории на каждый выставленный у нас препарат. Каждый наш покупатель при желании может получить сертификат и заключение химической Экспертизы на любой препарат..
								.col-lg-6
									
									.row.ih-list-guarantes__row
										
										.col-xl-6.col-lg-12.col-md-6.col-sm-6
										
											.ih-list-guarantes__images
											
												img(src="media/guarantees/guarantees-3.png" alt="" width="270" height="203")
												
											//.ih-list-guarantes__images
											
										.col-xl-6.col-lg-12.col-md-6.col-sm-6
										
											.ih-list-guarantes__images
											
												img(src="media/guarantees/guarantees-4.png" alt="" width="270" height="203")
												
											//.ih-list-guarantes__images
						//.ih-list-guarantes__box
						
					li
					
						h4.ih-list-guarantes__title Срок годности
						
						.ih-list-guarantes__box
							
							.row
								
								.col-lg-6
								
									p
										strong.
											Все препараты, продающиеся в Интернет - аптеке, произведены на современных крупных заводах Индии, такие как «Натко» и «Хетро» в соответствии с международными стандартами,  
											
										| с соблюдением стандартов ВОЗ и FDA. Все препараты упакованы в заводские упаковки с указанием производителя, на них имеются, защитные галаграммы, номера партии, даты производства и срока годности.
									p.
										Мы имеем большой и быстрый товарооборот, поэтому товар у нас не залеживается.. 
								.col-lg-6
									
									.row.ih-list-guarantes__row
										
										.col-xl-6.col-lg-12.col-md-6.col-sm-6
										
											.ih-list-guarantes__images
											
												img(src="media/guarantees/guarantees-5.png" alt="" width="270" height="203")
												
											//.ih-list-guarantes__images
										.col-xl-6.col-lg-12.col-md-6.col-sm-6
										
											.ih-list-guarantes__images
											
												img(src="media/guarantees/guarantees-6.png" alt="" width="270" height="203")
												
											//.ih-list-guarantes__images
											
						//.ih-list-guarantes__box
					li
						h4.ih-list-guarantes__title Гарантия доставки товара в целости и сохранности
						
						.ih-list-guarantes__box
							
							.row
								
								.col-lg-6
								
									p
										strong.
											Мы работаем с курьерской службой EMS Почта России, с их помощью доставляем товар  по всей стране и странам  СНГ. 
											
										| Почему мы работаем именно с EMS — потому что они гарантируют доставку до клиента, потому что у нас с ними не было еще ни одного случая кражи или утери товара во время пути. Это гарантии того, что вы получите посылку в целости и сохранности , В случае утери заказа, товар отправляется заново, без дополнительных затрат с вашей стороны. Мы гарантируем отсутствие финансовых рисков с Вашей стороны.
								.col-lg-6
									
									.row.ih-list-guarantes__row
										
										.col-xl-6.col-lg-12.col-md-6.col-sm-6
										
											.ih-list-guarantes__images
											
												img(src="media/guarantees/guarantees.png" alt="" width="270" height="203")
												
											//.ih-list-guarantes__images
											
										.col-xl-6.col-lg-12.col-md-6.col-sm-6
										
											.ih-list-guarantes__images
											
												img(src="media/guarantees/guarantees-2.png" alt="" width="270" height="203")
												
											//.ih-list-guarantes__images
						//.ih-list-guarantes__box
					li
						h4.ih-list-guarantes__title Визуальный осмотр
						
						.ih-list-guarantes__box
							
							.row
								
								.col-lg-6
								
									p
										strong.
											Перед тем, как оплатить курьеру препараты, вы должны произвести визуальный осмотр,
											
										| убедиться в целостности упаковки , проверить срок годности, присутствие серийного номера партии, также можете открыть упаковку с лекарствами , чтобы проверить ее содержимое.. 
								.col-lg-6
									
									.row.ih-list-guarantes__row
										
										.col-xl-6.col-lg-12.col-md-6.col-sm-6
										
											.ih-list-guarantes__images
											
												img(src="media/guarantees/guarantees-7.png" alt="" width="270" height="203")
												
											//.ih-list-guarantes__images
											
										.col-xl-6.col-lg-12.col-md-6.col-sm-6
										
											.ih-list-guarantes__images
											
												img(src="media/guarantees/guarantees-8.png" alt="" width="270" height="203")
												
											//.ih-list-guarantes__images
						//.ih-list-guarantes__box
					li
						h4.ih-list-guarantes__title Гарантия оперативности
						
						.ih-list-guarantes__box
							
							.row
								
								.col-lg-6
								
									p
										strong.
											Прием заказов осуществляется круглосуточно, их обработка производится с 9.00 до 22.00. 
									p.
										Доставка по Москве осуществляется в тот же или на следующий день. Доставка по всей России от 3-х до 7-й дней службой EMS Почта России. Мы можем с уверенностью утверждать, что обеспечим максимально возможную скорость доставки заказов нашим покупателям.. 
										
								.col-lg-6
									
									.row.ih-list-guarantes__row
										
										.col-xl-6.col-lg-12.col-md-6.col-sm-6
										
											.ih-list-guarantes__images
											
												img(src="media/guarantees/guarantees-9.png" alt="" width="270" height="203")
												
											//.ih-list-guarantes__images
											
										.col-xl-6.col-lg-12.col-md-6.col-sm-6
										
											.ih-list-guarantes__images
											
												img(src="media/guarantees/guarantees-10.png" alt="" width="270" height="203")
												
											//.ih-list-guarantes__images
						//.ih-list-guarantes__box
						li
							h4.ih-list-guarantes__title Гарантия низкой цены
							
							.ih-list-guarantes__box
								
								.row
									
									.col-lg-6
									
										p
											strong.
												Низкие цены - это одно из ключевых конкурентных преимуществ нашей Интернет - Аптеки. 
												
										p.
											Мы работаем без посредников! Мы являемся дилерами крупных Индийских производителей по производству качественных лекарств, поэтому закупаем продукцию с большой скидкой и можем гарантировать самую низкую цену для Вас..
									.col-lg-6
										
										.row.ih-list-guarantes__row
											
											.col-xl-6.col-lg-12.col-md-6.col-sm-6
											
												.ih-list-guarantes__images
												
													img(src="media/guarantees/guarantees-11.png" alt="" width="270" height="203")
													
												//.ih-list-guarantes__images
												
											.col-xl-6.col-lg-12.col-md-6.col-sm-6
											
												.ih-list-guarantes__images
												
													img(src="media/guarantees/guarantees-12.png" alt="" width="270" height="203")
													
												//.ih-list-guarantes__images
							//.ih-list-guarantes__box
		//.section-guarannees
