extends ./layout.jade

//-tabs-to-spaces:tabify — Converts leading whitespace to tabs
//- tabs-to-spaces:untabify — Converts leading whitespace to spaces

block content

	main
		
		section.features-products
			.container 
				ul.slider-product
					li
						.features-products__item 
						
							.features-products__image
							
								a(href="#" title="Софосбувир")
								
									img(src="media/features-products/features-item-1.png" alt="" width="130" height="185")
								
							.features-products__title
							
								a(href="#" title="Софосбувир")
									
									h6 Софосбувир
					
					li
								
						.features-products__item 
						
							.features-products__image
							
								a(href="#" title="Даклатасвир")

									img(src="media/features-products/features-item-2.png" alt="" width="130" height="185")
								
							.features-products__title
							
								a(href="#" title="Даклатасвир")

									h6 Даклатасвир
								
					li
					
						.features-products__item 
						
							.features-products__image
							
								a(href="#" title="Ледипасвир")

									img(src="media/features-products/features-item-3.png" alt="" width="130" height="185")
							
							.features-products__title
							
								a(href="#" title="Ледипасвир")

									h6 Ледипасвир
								
					li
					
						.features-products__item 
						
							.features-products__image
							
								a(href="#" title="Тенофовир")
							
									img(src="media/features-products/features-item-4.png" alt="" width="130" height="185")
							
							.features-products__title
							
								a(href="#" title="Тенофовир")
							
									h6 Тенофовир
					li

						.features-products__item 
						
							.features-products__image
							
								a(href="#" title="Велпатасвир")
							
									img(src="media/features-products/features-item-5.png" alt="" width="130" height="185")
							
							.features-products__title
							
								a(href="#" title="Велпатасвир")

									h6 Велпатасвир
							
		section.section-carousel

			.container

				.slider-carousel

					.slider-carousel__item

						img(src="assets/images/slider.png",alt="")

					.slider-carousel__item

						img(src="assets/images/slider.png",alt="")
					
					.slider-carousel__item

						img(src="assets/images/slider.png",alt="")
						
					.slider-carousel__item

						img(src="assets/images/slider.png",alt="")
								
					.slider-carousel__item

						img(src="assets/images/slider.png",alt="")

				//.slider-carousel

			//.container
			
		//.section-carousel
		
		section

			.container
			
				.row

					.col-xl-9.col-lg-8

						.row.category-products.products-grid

							.col-xl-4.col-lg-6.col-md-6.col-sm-6.col-xs-6 

								.category-products__item

									.category-products__header

										a(href="#")

											.category-products__image

												img(src="media/home-products/product1.jpg",alt="")
										
										span.category-products__sale

									//.category-products__header

									.category-products__section
									
										.review-block
										
											.review-result-wrapper
											
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												.review-result(style='width: 80%')
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													
											// .review-block
											
										// .category-products__section

										a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
										
										p.category-products__info Производитель: Natco Pharma 
										
										.category-products__price.discount
											
											span.price 10 550 
												
												span.symbol руб. 
													
											span.old-price 11 800
												
												span.symbol руб. 

									//.category-products__section

									.category-products__footer

										a.btn.btn-lg.btn-primary.add-to-cart(href="#") 

											i.icon-cart

											|    В корзину
											
										.qty-wrap 
										
											span Даклатасвир
											
											span.qty
											
												button.button-down(type='button', onclick='changeQty(12, this);')
												
												input#cart-qty-12.qty-input(type="text" value='1', size='4', title='Qty', name='')
												
												button.button-up(type='button', onclick='changeQty(12, this);')
											
											.qty-wrap__butt
											
												button(type="button" class="btn btn-ok btn-primary") Да
												
												button(type="button" class="btn btn-cancel btn-primary") отмена
												
										.product-click
										
											a(href="#" title="Купить в 1 клик"  data-toggle="modal" data-target="#click")
											
												span Купить в 1 клик
									
									//.category-products__footer

								//.category-products__item
								
							.col-xl-4.col-lg-6.col-md-6.col-sm-6.col-xs-6

								.category-products__item

									.category-products__header

										a(href="#")

											.category-products__image

												img(src="media/home-products/product2.jpg",alt="")
										
										span.category-products__sale

									//.category-products__header

									.category-products__section
									
										.review-block
										
											.review-result-wrapper
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												.review-result(style='width: 80%')
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
											// .review-block
											
										// .category-products__section

										a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
										
										p.category-products__info Производитель: Natco Pharma 

									//.category-products__section
									
									.category-products__price.sale
										
										span.price 6 970 
											
											span.symbol руб. 
												
										span.old-price 8 350 
											
											span.symbol руб. 
											
									//.category-products__price

									.category-products__footer

										a.btn.btn-lg.btn-primary.add-to-cart(href="#") 

											i.icon-cart

											|    В корзину
											
										.qty-wrap 
										
											span Даклатасвир
											
											span.qty
											
												button.button-down(type='button', onclick='changeQty(13, this);')
												
												input#cart-qty-13.qty-input(type="text" value='1', size='4', title='Qty', name='')
												
												button.button-up(type='button', onclick='changeQty(13, this);')
											
											.qty-wrap__butt
											
												button(type="button" class="btn btn-ok btn-primary") Да
												
												button(type="button" class="btn btn-cancel btn-primary") отмена

										.product-click

											a(href="#" title="Купить в 1 клик")
											
												span Купить в 1 клик

									//.category-products__footer

								//.category-products__item
								
							.col-xl-4.col-lg-6.col-md-6.col-sm-6.col-xs-6

								.category-products__item

									.category-products__header

										a(href="#")

											.category-products__image

												img(src="media/home-products/product1.jpg",alt="")
										
									//.category-products__header

									.category-products__section
									
										.review-block
											.review-result-wrapper
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												.review-result(style='width: 100%')
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
											// .review-block
										// .category-products__section

										a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
										
										p.category-products__info Производитель: Natco Pharma 

									//.category-products__section
									
									.category-products__price 
										
										span.price
										
											| 10 550 
											
											span.symbol 
											
												| руб.
												
									//.category-products__price
									
									.category-products__footer

										a.btn.btn-lg.btn-primary.add-to-cart(href="#")

											i.icon-cart

											|    В корзину
											
										.qty-wrap
										
											span Даклатасвир
											
											span.qty
											
												button.button-down(type='button', onclick='changeQty(14, this);')
												
												input#cart-qty-14.qty-input(type="text" value='1', size='4', title='Qty', name='')
												
												button.button-up(type='button', onclick='changeQty(14, this);')
											
											.qty-wrap__butt
											
												button(type="button" class="btn btn-ok btn-primary") Да
												
												button(type="button" class="btn btn-cancel btn-primary") отмена

										.product-click

											a(href="#" title="Купить в 1 клик")
											
												span Купить в 1 клик

									//.category-products__footer

								//.category-products__item
								
							.col-xl-4.col-lg-6.col-md-6.col-sm-6.col-xs-6

								.category-products__item

									.category-products__header

										a(href="#")

											.category-products__image

												img(src="media/home-products/product1.jpg",alt="")
										
									//.category-products__header

									.category-products__section
									
										.review-block
										
											.review-result-wrapper
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												.review-result(style='width: 100%')
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
											// .review-block
										// .category-products__section

										a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
										
										p.category-products__info Производитель: Natco Pharma 

									//.category-products__section
									
									.category-products__price 
										
										span.price
										
											| 10 550 
											
											span.symbol 
											
												| руб.
												
									//.category-products__price
									
									.category-products__footer

										a.btn.btn-lg.btn-primary.add-to-cart(href="#")

											i.icon-cart

											|    В корзину
											
										.qty-wrap
										
											span Даклатасвир
											
											span.qty
											
												button.button-down(type='button', onclick='changeQty(15, this);')
												
												input#cart-qty-15.qty-input(type="text" value='1', size='4', title='Qty', name='')
												
												button.button-up(type='button', onclick='changeQty(15, this);')
											
											.qty-wrap__butt
											
												button(type="button" class="btn btn-ok btn-primary") Да
												
												button(type="button" class="btn btn-cancel btn-primary") отмена

										.product-click

											a(href="#" title="Купить в 1 клик")
											
												span Купить в 1 клик

									//.category-products__footer

								//.category-products__item

							.col-xl-4.col-lg-6.col-md-6.col-sm-6.col-xs-6

								.category-products__item

									.category-products__header

										a(href="#")

											.category-products__image

												img(src="media/home-products/product1.jpg",alt="")
										
									//.category-products__header

									.category-products__section
									
										.review-block
										
											.review-result-wrapper
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												.review-result(style='width: 100%')
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
											// .review-block
										// .category-products__section

										a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
										
										p.category-products__info Производитель: Natco Pharma 

									//.category-products__section
									
									.category-products__price 
										
										span.price
										
											| 10 550 
											
											span.symbol 
											
												| руб.
												
									//.category-products__price
									
									.category-products__footer

										a.btn.btn-lg.btn-primary.add-to-cart(href="#")

											i.icon-cart

											|    В корзину
											
										.qty-wrap
										
											span Даклатасвир
											
											span.qty
											
												button.button-down(type='button', onclick='changeQty(16, this);')
												
												input#cart-qty-16.qty-input(type="text" value='1', size='4', title='Qty', name='')
												
												button.button-up(type='button', onclick='changeQty(16, this);')
											
											.qty-wrap__butt
											
												button(type="button" class="btn btn-ok btn-primary") Да
												
												button(type="button" class="btn btn-cancel btn-primary") отмена

										.product-click

											a(href="#" title="Купить в 1 клик")
											
												span Купить в 1 клик

									//.category-products__footer

								//.category-products__item
								
							.col-xl-4.col-lg-6.col-md-6.col-sm-6.col-xs-6

								.category-products__item

									.category-products__header

										a(href="#")

											.category-products__image

												img(src="media/home-products/product1.jpg",alt="")
										
										.category-products__sale

									//.category-products__header

									.category-products__section
									
										.review-block
											.review-result-wrapper
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												.review-result(style='width: 80%')
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
											// .review-block
										// .category-products__section

										a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
										
										p.category-products__info Производитель: Natco Pharma 

									//.category-products__section
									
									.category-products__price.sale
										
										span.price 6 970 
											
											span.symbol руб. 
												
										span.old-price 8 350 
											
											span.symbol руб. 
											
									//.category-products__price

									.category-products__footer

										a.btn.btn-lg.btn-primary.add-to-cart(href="#")

											i.icon-cart

											|    В корзину
											
										.qty-wrap
										
											span Даклатасвир
											
											span.qty
											
												button.button-down(type='button', onclick='changeQty(17, this);')
												
												input#cart-qty-17.qty-input(type="text" value='1', size='4', title='Qty', name='')
												
												button.button-up(type='button', onclick='changeQty(17, this);')
											
											.qty-wrap__butt
											
												button(type="button" class="btn btn-ok btn-primary") Да
												
												button(type="button" class="btn btn-cancel btn-primary") отмена

										.product-click

											a(href="#" title="Купить в 1 клик")
											
												span Купить в 1 клик

									//.category-products__footer

								//.category-products__item
									
							.col-xl-4.col-lg-6.col-md-6.col-sm-6.col-xs-6 

								.category-products__item

									.category-products__header

										a(href="#")

											.category-products__image

												img(src="media/home-products/product1.jpg",alt="")
										
										.category-products__sale

									//.category-products__header

									.category-products__section
									
										.review-block
										
											.review-result-wrapper
											
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												.review-result(style='width: 80%')
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													
											// .review-block
											
										// .category-products__section

										a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
										
										p.category-products__info Производитель: Natco Pharma 
										
										.category-products__price.discount
											
											span.price 10 550 
												
												span.symbol руб. 
													
											span.old-price 11 800
												
												span.symbol руб. 

									//.category-products__section

									.category-products__footer

										a.btn.btn-lg.btn-primary.add-to-cart(href="#")
										
											i.icon-cart
										
											|    В корзину
											
										.qty-wrap
										
											span Даклатасвир
											
											span.qty
											
												button.button-down(type='button', onclick='changeQty(18, this);')
												
												input#cart-qty-18.qty-input(type="text" value='1', size='4', title='Qty', name='')
												
												button.button-up(type='button', onclick='changeQty(18, this);')
											
											.qty-wrap__butt
											
												button(type="button" class="btn btn-ok btn-primary") Да
												
												button(type="button" class="btn btn-cancel btn-primary") отмена
										
										.product-click
										
											a(href="#" title="Купить в 1 клик")
											
												span Купить в 1 клик

									//.category-products__footer

								//.category-products__item
								
							.col-xl-4.col-lg-6.col-md-6.col-sm-6.col-xs-6

								.category-products__item

									.category-products__header

										a(href="#")

											.category-products__image

												img(src="media/home-products/product1.jpg",alt="")
										
										span.category-products__sale

									//.category-products__header

									.category-products__section
									
										.review-block
											.review-result-wrapper
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												.review-result(style='width: 100%')
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
											// .review-block
										// .category-products__section

										a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
										
										p.category-products__info Производитель: Natco Pharma 

									//.category-products__section
									
									.category-products__price 
										
										span.price
										
											| 10 550 
											
											span.symbol 
											
												| руб.
												
									//.category-products__price
									
									.category-products__footer

										a.btn.btn-lg.btn-primary.add-to-cart(href="#")

											i.icon-cart

											|    В корзину
											
										.qty-wrap
										
											span Даклатасвир
											
											span.qty
											
												button.button-down(type='button', onclick='changeQty(19, this);')
												
												input#cart-qty-19.qty-input(type="text" value='1', size='4', title='Qty', name='')
												
												button.button-up(type='button', onclick='changeQty(19, this);')
											
											.qty-wrap__butt
											
												button(type="button" class="btn btn-ok btn-primary") Да
												
												button(type="button" class="btn btn-cancel btn-primary") отмена

										.product-click

											a(href="#" title="Купить в 1 клик")
											
												span Купить в 1 клик

									//.category-products__footer

								//.category-products__item

							.col-xl-4.col-lg-6.col-md-6.col-sm-6.col-xs-6

								.category-products__item

									.category-products__header

										a(href="#")

											.category-products__image

												img(src="media/home-products/product1.jpg",alt="")
										
										.category-products__sale

									//.category-products__header

									.category-products__section
									
										.review-block
											.review-result-wrapper
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												i.icon-star
												.review-result(style='width: 80%')
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
													i.icon-star
											// .review-block
										// .category-products__section

										a(href="#").category-products__link Софосбувир Sofosbuvir SoviHep Zydus 400 mg 28 tab
										
										p.category-products__info Производитель: Natco Pharma 

									//.category-products__section
									
									.category-products__price.sale
										
										span.price 6 970 
											
											span.symbol руб. 
												
										span.old-price 8 350 
											
											span.symbol руб. 
											
									//.category-products__price

									.category-products__footer

										a.btn.btn-lg.btn-primary.add-to-cart(href="#")

											i.icon-cart

											|    В корзину
											
										.qty-wrap
										
											span Даклатасвир
											
											span.qty
											
												button.button-down(type='button', onclick='changeQty(20, this);')
												
												input#cart-qty-20.qty-input(type="text" value='1', size='4', title='Qty', name='')
												
												button.button-up(type='button', onclick='changeQty(20, this);')
											
											.qty-wrap__butt
											
												button(type="button" class="btn btn-ok btn-primary") Да
												
												button(type="button" class="btn btn-cancel btn-primary") отмена

										.product-click

											a(href="#" title="Купить в 1 клик")
											
												span Купить в 1 клик

									//.category-products__footer

								//.category-products__item
	
						//.row

					.col-xl-3.col-lg-4

						siderbar.md-sidebar-right
							
							.sidebar-social
							
								h6.sidebar-social__title Мы в контакте
								
								.sidebar-social__box
									
									img(src="assets/images/india-pills-vk.png")
								
							//.sidebar-social
							
							.sidebar-social
							
								h6.sidebar-social__title Мы в фейсбук
								
								.sidebar-social__box
									
									img(src="assets/images/india-pills-fb.png")
									
							//.sidebar-social
							.sidebar-news
							
								h6.title-news Последние новости
								
								ul.sidebar-news-list

									li
										.news-item

											.news-item__header

												a(href="#")
												
													img(src="assets/images/blog.png",alt="")

											.news-item__section

												.news-item__date 24.06.2017
												
												h4.news-item__title 

													a(href="#") ПИТАНИЕ ПРИ ГЕПАТИТЕ С: ОСНОВНЫЕ ПРОДУКТЫ И БЛЮДА

												.news-item__info.

													Осложнения, которые настигают больного очень опасны и как правило..
									li
										.news-item

											.news-item__header

												a(href="#")
												
													img(src="assets/images/blog.png",alt="")

											.news-item__section

												.news-item__date 24.06.2017
												
												h4.news-item__title 

													a(href="#") Комбинированный препарат для лечения гепатита С получил статус ускоренного рассмотрения

												.news-item__info.

													Американская фармкомпания AbbVie заявила о том, что комбинированный...
									li
										.news-item

											.news-item__header

												a(href="#")
												
													img(src="assets/images/blog.png",alt="")

											.news-item__section

												.news-item__date 24.06.2017
												
												h4.news-item__title 

													a(href="#") Компании с лицензией на производство SOFOSBUVIR от GILEAD

												.news-item__info.

													По информации компании "GILEAD" на 04.08.2015 года, ими выдана лицензия...

									//.news-item

								a.btn.btn-outline-info(
									href="#"
								) Все новости
								
							//.siderbar-news
						
						//.md-sidebar-right
			//.container

		section.section-features

			.container

				h4.title-primary Поможем победить гепатит

				.features

					p.features__info.
						Наше главное кредо — это быть полезными для своих клиентов. У нас Вы сможете приобрести продукты питания, средства для ухода и биодобавки высочайшего качества лучших брендов с мировым именем. Здесь Вы найдете полезную продукцию для детей и взрослых, которая придает бодрости и энергии, помогает восстановить силы и стать еще привлекательнее.

					p.features__desc.
						Eсли вам все же поставили такой диагноз, не отчаивайтесь, ведь наука не стоит на месте, в настоящее время ученые уже создали препараты, способные побороть этот недуг. Наш Интернет – магазин производит продажу медицинских препаратов, таких как Hepcinat, Hepcinat LP, Natdac , Viread, Ledifos, Daclahep, Sofovir и Sovaldi (Софосубвир), которые применяются в терапии ведущих клиник по всему миру. Дженерики разработанные высокотехнологичными фармацевтическими компаниями не чуть не хуже чем оригинальные лекарственные средства, они обладают теми же свойствами, но стоят на порядок дешевле. Мы работаем только с проверенными и надежными фирмами – производителями. Оформив заказ у наших менеджеров, вы сможете уже через несколько рабочих дней получить нужное лекарство, и приступить к лечению гепатита С, не теряя драгоценное время.

				//.features
				
				.banner-primary

					h4.banner-primary__title Наши преимущества
				
					.row

						.col-lg-4

							.banner-primary__item
								
								.banner-primary__image

									img(src="assets/images/pr.png",alt="")

								.banner-primary__info.
									Работаем напрямую с индийскими поставщиками
									
						.col-lg-4

							.banner-primary__item
								
								.banner-primary__image

									img(src="assets/images/pr-2.png",alt="")

								.banner-primary__info.
									Выгодная стоимость препаратов
									
						.col-lg-4

							.banner-primary__item
								
								.banner-primary__image

									img(src="assets/images/pr-3.png",alt="")

								.banner-primary__info.
									Быстрая доставка по России и СНГ

					//.row

				//.banner-primary
				
			//.container
			
		//.section-features

		section.section-check-list

			.container

				h4.title-primary  У нас Вы найдете только лучшую продукцию высокого качества, действительно полезную для здоровья:

				.row

					.col-lg-6

						ul.ih-list-check

							li.
								Продукты питания и биодобавки восполнят дефицит витаминов и микроэлементов. Специальные комплексы способствуют укреплению иммунитета, сердечно-сосудистой и эндокринной систем, эффективны в борьбе с процессами старения;
							li.
								Детское питание не содержит искусственных добавок. Оно активирует иммунные силы организма и улучшает работу кишечника;

						//.ih-list-check

					.col-lg-6

						ul.ih-list-check

							li.
								Действующие вещества косметических средств — растительные экстракты, масла и другие вещества природного происхождения. Использование качественной косметики улучшит состояние кожи и волос и доставит Вам истинное удовольствие.
							li.
								Спортивное питание имеет сбалансированный состав для формирования идеального рельефа и быстрого восстановления сил после тренировок;

						//.ih-list-check
						
				//.row
				
				.separator

			//.container
			
		//.section-check-list
		
		section.section-testimonial

			.container
				
				h4.title-primary  Что говорят наши клиенты

				.slider-testimonial

					.slider-testimonial__item

						.slider-testimonial__box-left

							.avatar

								.avatar__image(style="background: url('media/user/avatar.png') top center no-repeat;")

								.avatar__group

									.avatar__name Сидорова Екатерина

									.avatar__city    г.Москва
									
							//.avatar
						.slider-testimonial__box-right

							p.slider-testimonial__info.
								Здравствуйте. Вот уже несколько раз была на приёме у Татьяны Николаевны Красюк,с проблемой вросшего ногтя. Татьяна Николаевна - мастер своего дела!Она волшебница!Я под таким впечатлением от её процедур и манипуляций,что у меня нет слов!На столько всё профессионально и чётко,что я наблюдаю за её работой как заворожённая.Ну и конечно - результат,который просто...

							a.btn.btn-outline-info(
								href="#"
							) Все отзывы

					//.slider-testimonial__item

					.slider-testimonial__item

						.slider-testimonial__box-left

							.avatar

								.avatar__image(style="background: url('media/user/avatar.png') top center no-repeat;")

								.avatar__group

									.avatar__name Сидорова Екатерина

									.avatar__city    г.Москва
									
							//.avatar
						.slider-testimonial__box-right

							p.slider-testimonial__info.
								Здравствуйте. Вот уже несколько раз была на приёме у Татьяны Николаевны Красюк,с проблемой вросшего ногтя. Татьяна Николаевна - мастер своего дела!Она волшебница!Я под таким впечатлением от её процедур и манипуляций,что у меня нет слов!На столько всё профессионально и чётко,что я наблюдаю за её работой как заворожённая.Ну и конечно - результат,который просто...

							a.btn.btn-outline-info(
								href="#"
							) Все отзывы


				//.slider-testimonial
				.separator
			//.container

		//.section-testimonial

		section.section-faq

			.container
				
				h4.title-primary Часто задаваемые вопросы

				ul.ih-list-faq

					li
						.ih-list-faq__pane

							h6 Каким образом подтверждается подлинность препаратов? Я слышал что можно нарваться на подделку?

						p.ih-list-faq__item.
							Действительно, на рынке сейчас большое количество подделок Hcv Pills предупреждает(!) не покупайте препараты у неизвестных недоброкачественных продавцов в сети, предлагающих вам препараты ниже их номинальной стоимости, особенно это касается мошенников в социальных сетях. Никогда не оплачивайте препараты вперёд! Препараты приобретенные в Hcv Pills имеют все необходимые сертификаты соответствия, сертификаты лабораторных анализов, все препараты поставляются в заводских упаковках с QR и штрих кодами, с заводскими пломбами, все сотрудники знают и соблюдают условия хранения и транспортировки препаратов. Подробнее в разделе "Гарантии".

					li
						.ih-list-faq__pane

							h6 Я живу в Тюмени / Красноярске / Омске / Бишкеке / Минске / Астане / Ташкенте / Пскове / Мурманске и тд. Как мне приобрести препараты ?

						p.ih-list-faq__item.
							Мы работаем с оператором экспресс доставки EMS (Express Mail Service). Мы гарантируем доставку препаратов по всей России и по всему миру в течение 3-5 дней с возможностью оплатить посылку при получении. Все посылки отправляются с соблюдением температурного режима - в термоконвертах.

					li
						.ih-list-faq__pane

							h6 А какие результаты? Кто нибудь «реально» вылечился?

						p.ih-list-faq__item.
							Мы помогли уже многим людям победить вирус гепатита С. Посмотреть результат нашей работы вы можете в разделе "Отзывы".

				//.ih-list-faq

			//.container

		//.section-faq
		
		script(type="text/javascript").
			function changeQty(productId, button) {
					var input = $(button).closest('.qty').find('.qty-input');
							inputVal = parseInt(input.val());
					
					if($(button).hasClass('button-up')) {
							input.val(inputVal + 1);
					} else if($(button).hasClass('button-down') && inputVal > 1) {
							input.val(inputVal - 1);
					}
			}
