doctype html
html
	head
		meta(http-equiv="content-type" content="text/html; charset=utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="assets/css/style.css")
		link(rel="stylesheet", href="assets/css/jquery.fancybox.css")
	body
	
		include ./template-parts/header.jade

		block content
		
		include ./template-parts/footer.jade
		
		script(src="https://code.jquery.com/jquery-3.1.1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" )
		script(src="assets/js/bootstrap.min.js")
		script(src="assets/js/slick.min.js")
		script(src="assets/js/jquery.fancybox.js")
		script(src="assets/js/main.js")
