extends ./layout.jade

block content

	main.single-post
		
		.container
		
			.row
			
				.col-lg-12
				
					.breadcrumbs
					
						ul
							
							li
								
								a(href="#" title="Главная") Главная
								
									span.separator
							li
								
								a(href="#" title="Новости") Новости
								
									span.separator
							li
							
								strong Обзор клинических испытаний препарата Sofosbuvir (Софосбувир)

			.row
			
				.col-lg-12
				
					.page-title
					
						h1 Обзор клинических испытаний препарата Sofosbuvir (Софосбувир)
			
			.row
			
				.col-md-5
				
					.single-post__thumbnail
					
						img(src="media/post/single-post.jpg" alt="" width="470" height="323")
				
				.col.md-7
				
					.single-post__short-description.std
				
						strong
						
							| Софосбувир – такое название получил препарат принадлежащий к новому поколению, обладающий противовирусными свойствами. Он отличается от
							| подобных лекарственных средств старого поколения тем, что оказывает действие только на возбудителя гепатита С.
						p
						p
						
							| ще недавно для больных, страдающих гепатитом С, главным препаратом являлся пегинтерферон, имеющий множество побочных проявлений. Софосбувир позволил отказаться от его использования.
						
						p
						
							| В 2013 году в Соединенных Штатах Америки новый препарат получил одобрение как лекарство от гепатита С. После клинических исследований,
							| увенчавшихся успехом, Европейская ассоциация, изучающая заболевания печени, объявила софосбувир ведущим медикаментом при гепатите С. При
							| терапии болезни, относящейся ко второму и третьему генотипу, стали использовать софосбувир в комплексе с рибавирином, а при терапии гепатита первого и
							| четвертого генотипа начали назначать софосбувир вместе с рибавирином и пегинтерфероном.
			
			.row.std
			
				.col-md-12
				
					h6 Преимущества нового препарата
					
					ul.ih-list-check
					
						li Софосбувир произвел в мировой медицине радикальные изменения при лечении гепатита С, что позволило больным получать эффективную;
						
						li легко переносится даже пожилыми людьми;
						
						li существенно повышает эффективность лечения, из-за чего продолжительность терапии сокращается в 2-3 раза;  Софосбувир произвел в мировой медицине радикальные изменения при лечении гепатита С
						
						li позволяет отказаться от использования интерферона;
					
					h6 Результаты клинических исследований
					
					p Софосбувир произвел в мировой медицине радикальные изменения при лечении гепатита С, что позволило больным получать эффективную терапию, не испытывая побочного действия.
						| Препарат при проведении клинических испытаний показал великолепные результаты в борьбе с вирусом гепатита.
						
					p
					
						strong В исследованиях принимали участие пациенты, принадлежащие к различным категориям:
					
					ol.ih-list-number
					
						li
							
							p впервые проходившие терапию;
						
						li
						
							p получившие негативный опыт предыдущего лечения;
						
						li
						
							p обладающие различными повреждениями печени и страдающие ВИЧ-инфекцией.
				
					table.single-post__table
					
						thead
						
							tr
							
								th Генотип, цирроз, конфекция
								
								th Схема терапии
								
								th Продолжительность лечения
								
								th Эффективность
								
							tbody
							
								tr
								
									td(rowspan="5") Генотип 1
									
									td Софосбувир + Ледипасвир
									
									td 12 недель
									
									td 98%
									
								tr
								
									td Софосбувир + Ледипасвир + Рибавирин
									
									td 12 недель
									
									td 100%
									
								tr
								
									td Софосбувир + Даклатасвир
									
									td 12 недель
									
									td 93%
									
								tr
								
									td Софосбувир + Даклатасвир + Рибавирин
									
									td 12 недель
								
									td 93%
								
								tr
								
									td Софосбувир + Симепревир
									
									td 12 недель
									
									td 98%
								
								tr
								
									td(rowspan="5") Генотип 1 (с циррозом печени)
									
									td Софосбувир + Ледипасвир
									
									td 12 недель
									
									td 98%
								
								tr
								
									td Софосбувир + Ледипасвир + Рибавирин
									
									td 12 недель
									
									td 100%
									
								tr
								
									td Софосбувир + Даклатасвир
									
									td 12 недель
									
									td 93%
									
								tr
								
									td Софосбувир + Даклатасвир + Рибавирин
									
									td 12 недель
									
									td 93%
									
								tr
								
									td Софосбувир + Симепревир
									
									td 12 недель
									
									td 98%
									
								tr
								
									td(rowspan="5") Генотип 1 (с ВИЧ инфекцией)
									
									td Софосбувир + Ледипасвир
									
									td 12 недель
									
									td 98%
								
								tr
								
									td Софосбувир + Ледипасвир + Рибавирин
									
									td 12 недель
									
									td 100%
									
								tr
								
									td Софосбувир + Даклатасвир
									
									td 12 недель
									
									td 93%
								
								tr
								
									td Софосбувир + Даклатасвир + Рибавирин
								
									td 12 недель
									
									td 93
								
								tr
								
									td Софосбувир + Симепревир
									
									td 12 недель
									
									td 98%
						
					h6 Применение препарата при лечении генотипов гепатита
					
					p
					
						strong Если при лечении назначается софосбувир, применение должно соответствовать схемам, предоставленным Европейской ассоциацией,
							| занимающейся патологиями печени. Но ни в коем случае нельзя заниматься самолечением. Нужную схему сможет подобрать только квалифицированный специалист.
							| При выборе необходимого лечения он обязательно учитывает особенности протекания заболевания и наличие других патологий.
					
					.row
					
						.col-md-8
						
							p При борьбе с вирусом гепатита С, принадлежащем к первому генотипу, применяют софосбувир совместно с даклатасвиром,
								| ледипасвиром, пегинтерфероном, рибавирином и симепревиром. На результативность терапии существенно влияет использующаяся комбинация лекарств.
								| Самыми эффективными оказались схемы, которые содержат софосбувир и дакталасвир, софосбувир и ледипасвир, софосбувир, ледипасвир и рибавирин, софосбувир, рибавирин и даклатасвир.
									
							p Благодаря наличию нескольких схем лечащий врач всегда может подобрать в индивидуальном порядке терапию, оказывающую наиболее оптимальное действие.
								| Если у больного, у которого диагностирован первый генотип гепатита, отсутствуют коинфекции и не поражена печень,
								| то длительность терапии равняется 12 неделям. В том случае, если к вирусу гепатита присоединяется вирус иммунодефицита человека, лечение продлевают до 24 недель.
					
						.col-md-4				
						
							img(src="media/post/single-post-img-2.jpg" title="" width="370" height="254" class="f-right")
							
					h6 Побочные действия
					
					p Новое лекарство обладает минимумом побочных эффектов. Иногда оно может вызвать мигрень, сонливость и легкое утомление, 
						| что в сравнении с не одним десятком неприятных реакций, которые испытывает больной после приема интерферона, совершенно не приносит дискомфорта.
						| К тому же обычно побочное действие оказывает не софосбувир, а медикамент, который используется с ним в комплексе.
					
					p Чтобы ослабить побочные реакции, необходимо строго соблюдать рекомендации лечащего доктора: забыть о курении, спиртных напитках и вредной пище.
					
					p Ускорить восстановление печени помогут занятия физкультурой и рациональное питание, содержащее необходимое количество витаминов и минеральных элементов.

					p.a-center
					
						img(src="media/post/single-post-img-3.jpg" alt="" width="770" height="444")
					
					p.a-center
					
						a(href="#" title="Закажите индийский Софосбувир по самой выгодной цене уже сейчас.")
						
							| Закажите индийский Софосбувир по самой выгодной цене уже сейчас.
						
					p
					
						img(src="media/post/post-banner.png" alt="" width="1171" height="242")
						
					p
					
					p При борьбе с вирусом гепатита С, принадлежащем к первому генотипу, применяют софосбувир совместно с даклатасвиром,
						| ледипасвиром, пегинтерфероном, рибавирином и симепревиром. На результативность терапии существенно влияет использующаяся
						| комбинация лекарств. Самыми эффективными оказались схемы, которые содержат софосбувир и дакталасвир, софосбувир и ледипасвир, софосбувир,
						| ледипасвир и рибавирин, софосбувир, рибавирин и даклатасвир.
					
					p Благодаря наличию нескольких схем лечащий врач всегда может подобрать в индивидуальном порядке терапию, оказывающую наиболее оптимальное действие.
						| Если у больного, у которого диагностирован первый генотип гепатита, отсутствуют коинфекции и не поражена печень, 
						| то длительность терапии равняется 12 неделям. В том случае, если к вирусу гепатита присоединяется вирус иммунодефицита человека, лечение продлевают до 24 недель.

					.expert-advice
					
						h4.expert-advice__title Совет эксперта:
						
						p.expert-advice__info
							| Мы ценим свою репутацию и доверие, оказанное каждым покупателем, именно поэтому все препараты, представленные в аптеке, поставляются напрямую от производителя.
							| Это полностью исключает возможность появления контрафактного лекарства. По собственной инициативе один раз в пол года, мы заказываем химическую экспертизу в московской лаборатории
							| на каждый выставленный у нас препарат.

					section.read-on-theme
					
						.row
						
							.col-md-4
								
								.read-on-theme__block
								
									h6 Читайте по теме:
									
									img(src="media/post/single-post-img-4.jpg" height="" width="369" alt="165")
									
									.read-on-theme__foot
									
										span.read-on-theme__date 24.06.2017
										
										strong ПИТАНИЕ ПРИ ГЕПАТИТЕ С: ОСНОВНЫЕ ПРОДУКТЫ И БЛЮДА
										
										p Осложнения, которые настигают больного очень опасны и как правило  больного очень опасны...
									
							.col-md-8
						
								h1 Результаты клинических исследований
								
								p Софосбувир произвел в мировой медицине радикальные изменения при лечении гепатита С, что позволило больным получать эффективную терапию,
									| не испытывая побочного действия. Препарат при проведении клинических испытаний показал великолепные результаты в борьбе с вирусом гепатита.
									| Ведется поиск новых препаратов, эффективных в борьбе с вирусом и без тяжелых побочных эффектов. Научные открытия постоянно изменяют картину лечения.
						
								p Ведется поиск новых препаратов, эффективных в борьбе с вирусом и без тяжелых побочных эффектов. Научные открытия постоянно изменяют картину лечения.
								
								p Успешные клинические испытания Софосбувира изменили современные стандарты лечения.
									| До недавних пор единственным стандартом в лечении гепатита С оставалась комбинированная терапия пегинтерфероном и рибавирином.
									| Но невысокая эффективность и масса тяжелых, иногда непереносимых побочных проявлений от лечения, оставила многих пациентов без надежды на выздоровление.
									
						.row.read-on-theme__social
						
							.col-md-12
							
								.block-share
								
									span Поделиться:
									
									ul 
									
										li
										
											a(href="#")
											
												i.vk
												
										li
										
											a(href="#")
											
												i.fb
												
										li
										
											a(href="#")
											
												i.tw
												
										li
										
											a(href="#")
											
												i.ok
												
										li
										
											a(href="#")
											
												i.more
							
									span 5
								
			siderbar.md-sidebar-bottom
								
							.row
							
									.col-lg-12
									
											.sidebar-news
											
													h6.title-news Похожие статьи
													
													div.sidebar-news-list
		
															.col-md-3
																	.news-item
		
																			.news-item__header
		
																					a(href="#")
																					
																							img(src="assets/images/blog.png",alt="")
		
																			.news-item__section
		
																					.news-item__date 24.06.2017
																					
																					h4.news-item__title
		
																							a(href="#") ПИТАНИЕ ПРИ ГЕПАТИТЕ С: ОСНОВНЫЕ ПРОДУКТЫ И БЛЮДА
		
																					.news-item__info
		
																						|	Осложнения, которые настигают больного очень опасны и как правило  больного очень опасны...
															.col-md-3
																	.news-item
		
																			.news-item__header
		
																					a(href="#")
																					
																							img(src="assets/images/blog.png",alt="")
		
																			.news-item__section
		
																					.news-item__date 24.06.2017
																					
																					h4.news-item__title
		
																							a(href="#") Комбинированный препарат для лечения гепатита С получил статус ускоренного рассмотрения
		
																					.news-item__info
	
																						|	Американская фармкомпания AbbVie заявила о том, что комбинированный...
																							
															.col-md-3
																	.news-item
		
																			.news-item__header
		
																					a(href="#")
																					
																							img(src="assets/images/blog.png",alt="")
		
																			.news-item__section
		
																					.news-item__date 24.06.2017
																					
																					h4.news-item__title
		
																							a(href="#") Комбинированный препарат для лечения гепатита С получил статус ускоренного рассмотрения
		
																					.news-item__info
		
																						|	Американская фармкомпания AbbVie заявила о том, что комбинированный...
																							
															.col-md-3
																	.news-item
		
																			.news-item__header
		
																					a(href="#")
																					
																							img(src="assets/images/blog.png",alt="")
		
																			.news-item__section
		
																					.news-item__date 24.06.2017
																					
																					h4.news-item__title
		
																							a(href="#") Комбинированный препарат для лечения гепатита С получил статус ускоренного рассмотрения
		
																					.news-item__info
		
																						|	Американская фармкомпания AbbVie заявила о том, что комбинированный...
																							
															.col-md-3
																	.news-item
		
																			.news-item__header
		
																					a(href="#")
																					
																							img(src="assets/images/blog.png",alt="")
		
																			.news-item__section
		
																					.news-item__date 24.06.2017
																					
																					h4.news-item__title
		
																							a(href="#") Комбинированный препарат для лечения гепатита С получил статус ускоренного рассмотрения
		
																					.news-item__info
		
																						|	Американская фармкомпания AbbVie заявила о том, что комбинированный...
																						
															.col-md-3
																	.news-item
		
																			.news-item__header
		
																					a(href="#")
																					
																							img(src="assets/images/blog.png",alt="")
		
																			.news-item__section
		
																					.news-item__date 24.06.2017
																					
																					h4.news-item__title
		
																							a(href="#") Комбинированный препарат для лечения гепатита С получил статус ускоренного рассмотрения
		
																					.news-item__info
		
																						|	Американская фармкомпания AbbVie заявила о том, что комбинированный...
																						
																						
															.col-md-3
																	.news-item
		
																			.news-item__header
		
																					a(href="#")
																					
																							img(src="assets/images/blog.png",alt="")
		
																			.news-item__section
		
																					.news-item__date 24.06.2017
																					
																					h4.news-item__title
		
																							a(href="#") Комбинированный препарат для лечения гепатита С получил статус ускоренного рассмотрения
		
																					.news-item__info
		
																						|	Американская фармкомпания AbbVie заявила о том, что комбинированный...
																						
															.col-md-3
																	.news-item
		
																			.news-item__header
		
																					a(href="#")
																					
																							img(src="assets/images/blog.png",alt="")
		
																			.news-item__section
		
																					.news-item__date 24.06.2017
																					
																					h4.news-item__title
		
																							a(href="#") Комбинированный препарат для лечения гепатита С получил статус ускоренного рассмотрения
		
																					.news-item__info
		
																						|	Американская фармкомпания AbbVie заявила о том, что комбинированный...
