extends ./layout.jade

	
block content

	main.cart-page
		
		.container
		
			.row
			
				.col-lg-12
				
					.breadcrumbs
					
						ul
							
							li 
								
								a(href="#" title="") Главная 
								
									span.separator
									
							li
							
								strong Отзывы

			.row
			
				.col-lg-12
				
					.page-title
					
						h1 Отзывы
						
		section.section-reviews
			
			.container
			
				ul.ih-list-reviews
				
					li
						.ih-list-reviews__header
						
							.ih-list-reviews__avatar
							
								img(src="media/reviews/avatar.png" alt="" width="125", height="125")
								
							//.ih-list-reviews__avatar
							
						//.ih-list-reviews__header
						
						.ih-list-reviews__section
						
							.box-reviews
							
								strong.review-user
									
									| Виктория Цыганова 
									
									span.review-date
									
										| / 15 апреля 2017 г.
							
								.review-block
								
									.review-result-wrapper
									
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										.review-result(style='width: 80%')
											i.icon-star
											i.icon-star
											i.icon-star
											i.icon-star
											i.icon-star
											
								//.review-block
								
								p.
									Здравствуйте, о препарате Даклахеп узнала, когда сдавала анализ на определение генотипа. Разговорилась с человеком из очереди. Он рассказал, что покупал это лекарство на сайте Гепатит-стоп и принимал по схеме с сайта. Ему помогло. Поэтому и я решила не рисковать и купить тоже тут. И не прогадала. Все быстро доставили без повреждений упаковки и платить при получении заказа очень удобно. Сейчас прохожу терапию тоже по схеме с сайта для генотипа 1. Спасибо.
						//.ih-list-reviews__section
					
					li
						.ih-list-reviews__header
						
							.ih-list-reviews__avatar
							
								img(src="media/reviews/avatar-2.png" alt="" width="125", height="125")
								
							//.ih-list-reviews__avatar
							
						//.ih-list-reviews__header
						
						.ih-list-reviews__section
						
							.box-reviews
							
								strong.review-user
									
									| Владимир
									
									span.review-date
									
										| / 15 апреля 2017 г.
							
								.review-block
								
									.review-result-wrapper
									
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										.review-result(style='width: 80%')
											i.icon-star
											i.icon-star
											i.icon-star
											i.icon-star
											i.icon-star
											
								//.review-block
								
								p.
									Здравствуйте, жил с гепатитом С 3 генотип 5 лет. После диагноза врач предложил единственное на тот момент лечение Пегасис +рибавирин. Но мне было настолько плохо, что пришлось бросить, не выдержал. С тех пор колол только эссенциале, чтоб печень поддерживать. Другого лечения мне не предложили. Но пол года назад друг кинул ссылку на сайт Гепатит-стоп. Я все перечитал, ознакомился с инструкциями, отзывами и решил рискнуть, что терять то. Позвонил врачу, он сказал что так сейчас лечат, но только американскими препаратами, а аналоги в России запрещены. Но я все же купил по схеме для моего 3 генотипа Хепцинат и Натдак. Пошел сдавать первый раз анализ через 3 недели, не терпелось. Получил ответ что вирус не обнаружен. Просто класс. Никаких побочек не было. Всем рекомендую.
					
					li
						.ih-list-reviews__header
						
							.ih-list-reviews__avatar
							
								img(src="media/reviews/avatar-3.png" alt="" width="125", height="125")
								
							//.ih-list-reviews__avatar
							
						//.ih-list-reviews__header
						
						.ih-list-reviews__section
						
							.box-reviews
							
								strong.review-user
									
									| Наталья Ромашко
									
									span.review-date
									
										| / 15 апреля 2017 г.
							
								.review-block
								
									.review-result-wrapper
									
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										.review-result(style='width: 100%')
											i.icon-star
											i.icon-star
											i.icon-star
											i.icon-star
											i.icon-star
											
								//.review-block
								
								p.
									Здравствуйте, о препарате Даклахеп узнала, когда сдавала анализ на определение генотипа. Разговорилась с человеком из очереди. Он рассказал, что покупал это лекарство на сайте Гепатит-стоп и принимал по схеме с сайта. Ему помогло. Поэтому и я решила не рисковать и купить тоже тут. И не прогадала. Все быстро доставили без повреждений упаковки и платить при получении заказа очень удобно. Сейчас прохожу терапию тоже по схеме с сайта для генотипа 1. Спасибо.
					
					li
						.ih-list-reviews__header
						
							.ih-list-reviews__avatar
							
								img(src="media/reviews/avatar-4.png" alt="" width="125", height="125")
								
							//.ih-list-reviews__avatar
							
						//.ih-list-reviews__header
						
						.ih-list-reviews__section
						
							.box-reviews
							
								strong.review-user
									
									| Константин Иванов 
									
									span.review-date
									
										| / 15 апреля 2017 г.
							
								.review-block
								
									.review-result-wrapper
									
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										.review-result(style='width: 100%')
											i.icon-star
											i.icon-star
											i.icon-star
											i.icon-star
											i.icon-star
											
								//.review-block
								
								p.
									Здравствуйте, жил с гепатитом С 3 генотип 5 лет. После диагноза врач предложил единственное на тот момент лечение Пегасис +рибавирин. Но мне было настолько плохо, что пришлось бросить, не выдержал. С тех пор колол только эссенциале, чтоб печень поддерживать. Другого лечения мне не предложили. Но пол года назад друг кинул ссылку на сайт Гепатит-стоп. Я все перечитал, ознакомился с инструкциями, отзывами и решил рискнуть, что терять то. Позвонил врачу, он сказал что так сейчас лечат, но только американскими препаратами, а аналоги в России запрещены. Но я все же купил по схеме для моего 3 генотипа Хепцинат и Натдак. Пошел сдавать первый раз анализ через 3 недели, не терпелось. Получил ответ что вирус не обнаружен. Просто класс. Никаких побочек не было. Всем рекомендую.
						//.ih-list-reviews__section
					
					li
						.ih-list-reviews__header
						
							.ih-list-reviews__avatar
							
								img(src="media/reviews/avatar-5.png" alt="" width="125", height="125")
								
							//.ih-list-reviews__avatar
							
						//.ih-list-reviews__header
						
						.ih-list-reviews__section
						
							.box-reviews
							
								strong.review-user
									
									| Наталья Ромашко 
									
									span.review-date
									
										| / 15 апреля 2017 г.
							
								.review-block
								
									.review-result-wrapper
									
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										.review-result(style='width: 80%')
											i.icon-star
											i.icon-star
											i.icon-star
											i.icon-star
											i.icon-star
											
								//.review-block
								
								p.
									Здравствуйте, о препарате Даклахеп узнала, когда сдавала анализ на определение генотипа. Разговорилась с человеком из очереди. Он рассказал, что покупал это лекарство на сайте Гепатит-стоп и принимал по схеме с сайта. Ему помогло. Поэтому и я решила не рисковать и купить тоже тут. И не прогадала. Все быстро доставили без повреждений упаковки и платить при получении заказа очень удобно. Сейчас прохожу терапию тоже по схеме с сайта для генотипа 1. Спасибо.
						//.ih-list-reviews__section
					
					li
						.ih-list-reviews__header
						
							.ih-list-reviews__avatar
							
								img(src="media/reviews/avatar-6.png" alt="" width="125", height="125")
								
							//.ih-list-reviews__avatar
							
						//.ih-list-reviews__header
						
						.ih-list-reviews__section
						
							.box-reviews
							
								strong.review-user
									
									| Виктория Цыганова 
									
									span.review-date
									
										| / 15 апреля 2017 г.
							
								.review-block
								
									.review-result-wrapper
									
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										i.icon-star
										.review-result(style='width: 80%')
											i.icon-star
											i.icon-star
											i.icon-star
											i.icon-star
											i.icon-star
											
								//.review-block
								
								p.
									Здравствуйте, жил с гепатитом С 3 генотип 5 лет. После диагноза врач предложил единственное на тот момент лечение Пегасис +рибавирин. Но мне было настолько плохо, что пришлось бросить, не выдержал. С тех пор колол только эссенциале, чтоб печень поддерживать. Другого лечения мне не предложили. Но пол года назад друг кинул ссылку на сайт Гепатит-стоп. Я все перечитал, ознакомился с инструкциями, отзывами и решил рискнуть, что терять то. Позвонил врачу, он сказал что так сейчас лечат, но только американскими препаратами, а аналоги в России запрещены. Но я все же купил по схеме для моего 3 генотипа Хепцинат и Натдак. Пошел сдавать первый раз анализ через 3 недели, не терпелось. Получил ответ что вирус не обнаружен. Просто класс. Никаких побочек не было. Всем рекомендую.
						//.ih-list-reviews__section
						
				nav.pagination-blog(aria-label='Page navigation')
				
					ul.pagination
					
						li.page-item
							a.page-link(href='#')
								
								i.icon-arrow-left
							
						li.page-item
							a.page-link(href='#') 1
							
						li.page-item.active
							a.page-link(href='#') 2
							
						li.page-item
							a.page-link(href='#') 3
							
						li.page-item
							a.page-link(href='#') 4
							
						li.page-item
							a.page-link(href='#') 5
						li.page-item
							a.page-link(href='#') 
							
								i.icon-arrow-right
					
					//.pagination
					
				//.pagination-blog
				
				.detail-page__row-reviews.reviews-item
				
					.box-form-reviews
					
						h1 Оставить отзыв
							
						.box-form-reviews__inside
						
							.row.justify-content-md-center
							
								.col-lg-8
									p
									
										strong 
										
											| Оставить отзыв анонимно 
										
										a(href="#" title="Или войти под своим именем") Или войти под своим именем
										
									form(method="" action="#" id="review-form" name="")
									
										label(for="title-review") 
										
											| Заголовок
										
										input(type="text"  placeholder="Введите заголовок" id="title-review" name="titleReview")
										
										label(for="comment-review") 
										
											| Комментарий *
										
										textarea(placeholder="Введите заголовок" id="comment-review" name="commentReview" rows="5")

										.buttons-wrapper.clearfix
										
											.review-block.add-review
											
												label Оценить товар *
												
												.review-star
												
													input#review-rating(type='hidden', name='reviewRating')
													
													i.icon-star(data-value='1')
													
													i.icon-star(data-value='2')
													
													i.icon-star(data-value='3')
													
													i.icon-star(data-value='4')
													
													i.icon-star(data-value='5')
													
													//.review-star
													
												//.review-block
												
											button(type="submit").btn.btn-lg.btn-primary Отправить
										
