extends ./layout.jade

	
block content

	main.cart-page
		
		.container
		
			.row
			
				.col-lg-12
				
					.breadcrumbs
					
						ul
							
							li 
								
								a(href="#" title="") Главная 
								
									span.separator
									
							li
							
								strong СХЕМЫ ЛЕЧЕНИЯ

			
		section.section-guarantees
			
			.container
			
				h4.section-guarantees__title Схемы лечения
				
				article.banner-guarantees
				
					header.banner-guarantees__header
					
						.banner-guarantees__images
							img(src="media/treatment/banner.png" alt="" width="218" height="188")
							
					section.banner-guarantees__section
					
						h4.banner-guarantees__title Самые распространенные схемы лечения гепатита С 
						
						p.banner-guarantees__info.
							Современная медицина сегодня успешно борется со многими заболеваниями.Не стал исключением и гепатит С, еще не так давно считавшийся неизлечимым. Побороть сегодня этот недуг позволяют эффективные противовирусные препараты – софосбувир, ледипасвир, даклатасвир, велпатасвир. Однако применение этих ингибиторных препаратов эффективно лишь в случае правильно выбранной стратегии.
							
				//.banner-guarantees
				
		section.section-treatment
		
			.container
			
				h4.section-treatment__title СХЕМА ЛЕЧЕНИЯ ГЕПАТИА С В 2016 ГОДУ, при генотипе 1
				table.cart-treatment
					
					thead 
							
						tr
								
							th Генотип, цирроз, конфекция
							
							th Схема терапии
							
							th Продолжительность лечения
							
							th Эффективность
					
					tbody 
					
						tr.tr-blue
						
							td.td-blue(rowspan = "5") Генотип 1
							
							
							
						tr.tr-white
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-blue
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-white
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-blue
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-yellow
						
							td.td-yellow(rowspan = "5") Генотип 1 (с циррозом печени)
							
								td Софосбувир + Ледипасвир
								
								td 12 недель
									
								td 98%
						tr.tr-green
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-yellow
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						
						tr.tr-green
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-yellow
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-blue
						
							td.td-blue(rowspan = "5") Генотип 1
							
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-white
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-blue
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-white
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-blue
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
				p.
					Данная таблица подразумевает схемы для лечения  пациентов, ранее не проходивших лечение противовирусными препаратми, а также для пациентов с декомпенсированным циррозом и коинфекцией ВИЧ, с диагностированным генотипом 1 а,б.. Исходя из вышеизложенного становится понятным тот факт, что наибольшую эффективность в лечении ВГС дает комбинация соф+лед и соф+дак – это 99% ответов на терапию. Несмотря на наличие схемы софосбувир + рибаверин, гепатологи все же рекомендуют добавлять к ней даклатасвир. Но, самое главное, пожалуй в том, что даже тем, у кого осталось совсем мало надежды на избавление от недуга, кто уже боролся с вирусом при помощи интерферонов появился отличный шанс перелечиться и избавиться от вируса навсегда. 
				br
				br
				
				h4.section-treatment__title СХЕМА ЛЕЧЕНИЯ ГЕПАТИА С В 2016 ГОДУ, при генотипе 2
				
				table.cart-treatment-primary
				
					thead 
							
						tr
								
							th Генотип, цирроз, конфекция
							
							th Схема терапии
							
							th Продолжительность лечения
							
							th Эффективность
					
					tbody 
					
						tr.tr-blue
						
							td.td-yellow(rowspan = "5") Генотип 1
							
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-blue
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-blue
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr
						
							td.td-yellow(rowspan = "5") Генотип 1 (с циррозом печени)
							
								td Софосбувир + Ледипасвир
								
								td 12 недель
									
								td 98%
						tr.tr-blue
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-blue
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-blue
						
							td.td-yellow(rowspan = "5") Генотип 1
							
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-white
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-blue
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-white
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-blue
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
				
				
				p.
					Данная таблица подразумевает схемы для лечения  пациентов, ранее не проходивших лечение противовирусными препаратми, а также для пациентов с декомпенсированным циррозом и коинфекцией ВИЧ, с диагностированным генотипом 1 а,б.. Исходя из вышеизложенного становится понятным тот факт, что наибольшую эффективность в лечении ВГС дает комбинация соф+лед и соф+дак – это 99% ответов на терапию. Несмотря на наличие схемы софосбувир + рибаверин, гепатологи все же рекомендуют добавлять к ней даклатасвир. Но, самое главное, пожалуй в том, что даже тем, у кого осталось совсем мало надежды на избавление от недуга, кто уже боролся с вирусом при помощи интерферонов появился отличный шанс перелечиться и избавиться от вируса навсегда. 
				br
				
				h4.section-treatment__title СХЕМА ЛЕЧЕНИЯ ГЕПАТИА С В 2016 ГОДУ, при генотипе 2
				table.cart-treatment-secondary
					
					thead 
							
						tr
								
							th Генотип, цирроз, конфекция
							
							th Схема терапии
							
							th Продолжительность лечения
							
							th Эффективность
					
					tbody 
					
						tr.tr-green
						
							td.td-green(rowspan = "6") Генотип 1
							
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-green
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-green
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-green
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-green
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-green
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-yellow
						
							td.td-yellow(rowspan = "5") Генотип 1 
								br 
								| (с циррозом печени)
							
								td Софосбувир + Ледипасвир
								
								td 12 недель
									
								td 98%
						tr.tr-yellow
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-yellow
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						
						tr.tr-yellow
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-yellow
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-blue
						
							td.td-blue(rowspan = "3")
							
								span test
							
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-blue
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-blue
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						
						tr.tr-pr
						
							td.td-pr(rowspan = "4") Генотип 1 
								br
								|	(с циррозом печени)
							
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
							
						tr.tr-pr
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-pr
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
						tr.tr-pr
							td Софосбувир + Ледипасвир
							
							td 12 недель
								
							td 98%
				
				
